<div class="footer">
  <div class="foo container">
    <div class="row">
      <div class="content d-md-flex justify-content-md-between">
        <div class="logo col-12 col-md-6 d-md-flex align-items-md-center">
          <img src="./assets/images/Logotechxl1.svg" alt="Techxle Logo" class="logo-img" />
        </div>
        <div class="socialmedia col-12 col-md-6  d-md-flex  justify-content-md-end ">

          <h5 class="connect-us m-0 d-md-flex align-items-md-center">Connect with us</h5>
          <a href="https://www.linkedin.com/company/techxle-consulting-services-pvt-ltd/mycompany/" target="_blank"
            class="linkedin d-md-flex align-items-center">
            <img src="./assets/images/Linked in.svg" alt="" />

          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="footer-section company-address col-12 col-md-3 mt-5 d-flex flex-column">
        <h2>Company Address</h2>        
        <div class="d-flex align-items-start mb-2">
          <img src="./assets/images/Frame.png" alt="Address Icon" class="frame me-2">
          <p class="mb-0">
            <strong>Address:</strong> 8 The Green Ste R Dover,<br> DE 19901.
          </p>
        </div>        
        <div class="d-flex align-items-start mb-2">
          <img src="./assets/images/Frame (1).png" alt="Phone Icon" class="frame me-2">
          <p class="mb-0">
            <strong>Phone:</strong> 302-265-3616
          </p>
        </div>        
        <div class="d-flex align-items-start">
          <img src="./assets/images/Frame (2).png" alt="Email Icon" class="frame me-2">
          <p class="mb-0">
            <strong>Email:</strong> 
            <a class="em" href="mailto:contact&#64;techxl.org">contact&#64;techxl.org</a>
          </p>
        </div>
      </div>
      <div
        class="footer-section company col-5 col-md-3 mt-5 d-md-flex flex-column align-items-center"
      >
        <h2 class="company">Company</h2>
        <ul>          
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/services">Services</a></li>
          <li><a routerLink="/solutions">Solutions</a></li>
          <li><a routerLink="/aboutus">About Us</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-section services col-7 col-md-3 mt-5 px-0 px-xl-5">
        <h2 class="ourservice">Our Services</h2>
        <ul>
          <li><a routerLink="/services/power-platform-solution">Power Platform Solution</a></li>
          <li><a routerLink="/services/cloud-app-development">Cloud App Development</a></li>
          <li><a routerLink="/services/staffing-service">Staffing Service</a></li>
          <li><a routerLink="/services/full-stack-development">Full Stack Development</a></li>
          <li><a routerLink="/services/ui-ux-designing">UI/UX Designing</a></li>
          <li><a routerLink="/services/ai-application">AI Application</a></li>
          <li><a routerLink="/services/devops">DevOps</a></li>
        </ul>
      </div>

      <div class="gotproj  col-12 col-md-3 mt-5 text-center">

        <h2 class="project">Got a project?</h2>
        <button mat-button routerLink="contact" class="read-more-button">
          <span class="button-text">Connect with us</span>
          <span>
            <img src="./assets/images/Icons.svg" alt="Techxle Logo" class="icon">
          </span>
        </button>
      </div>
    </div>

  </div>
  <div class="footer-bottom container">
    <div class="row mt-3">
      <p class="bottom-text col-12 d-flex justify-content-center">&copy; {{currentYear}} Techxl LLC</p>
    </div>
  </div>
</div>

