<div class="footer">
  <div class="footer-container">
    <div class="content">
      <div class="logo">
        <img
          src="assets/images/Group.png"
          alt="Techxle Logo"
          class="logo-img"
        />
        <div class="group"></div>
      </div>
      <div class="socialmedia">
        <div class="icon">
          <h5 class="connect-us">Connect with us</h5>
          <a
            href="https://www.linkedin.com/company/techxle-consulting-services-pvt-ltd/mycompany/"
            class="linkedin"
          >
            <img src="assets/images/Linked in.png" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="footer-section company-address">
      <h2>Company Address</h2>
      <p>
        <strong>Address:</strong> SF4, Prabhatham Apartment, Chinnamettupalayam,
        Saravanampatti, Coimbatore - 641035 Tamilnadu
      </p>
      <p><strong>Phone:</strong> 301-637-6868</p>
      <p>
        <strong>Email:</strong>
        <a href="mailto:hello&#64;techxle.com">hello&#64;techxle.com</a>
      </p>
    </div>
    <div class="footer-section company">
      <h2 class="company">Company</h2>
      <ul>
        <li><a href="/aboutus">About us</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/solutions">Solutions</a></li>
        <li><a href="/career">Career</a></li>
        <li><a href="/contact">Contact us</a></li>
      </ul>
    </div>
    
    <div class="footer-section services">
      <h2 class="ourservice">Our Services</h2>
      <ul>
        <li><a href="/services/powerplatform">Power Platform Solution</a></li>
        <li><a href="/services/cloudapp">Cloud App Development</a></li>
        <li><a href="/services/staffing">Staffing Service</a></li>
        <li><a href="/services/fullstack">Full Stack Development</a></li>
        <li><a href="/services/ui">UI/UX Designing</a></li>
      </ul>
      
    </div>
    <div class="footer-section project">
      <h2>Got a project?</h2>
      <a href="#" class="connect-button">Connect with us</a>
      <a href="contact" ><img
        src="assets/images/Icons.png"
        alt="Techxle Logo"
        class="Icon_image"
      /></a>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="social-icons">
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-x-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
    <p class="bottom-text1">&copy; 2022 Techxle Consulting Services</p>
    <p class="bottom-text">Terms of Use          Privacy Policy </p>
  </div>
</div>
