.footer {
  background: #0a183e;
  color: #ffffff;
}
.content {
  border-bottom: 1px solid #394867;
  height: 120px;

}
.socialmedia {
  display: flex;
  gap: 20px;
  white-space: nowrap;
}
.company-address{
  gap:8px;
}
.em{
  text-decoration:none;
  color: #ffffff99;
}
.footer-section {
  h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    color: #ffffff;
  }
  ul {
    color: #ffffff99;
    font-family: "Plus Jakarta Text", sans-serif;
    line-height: 35px;
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
    li {
      a {
        color: #ffffff99;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  p {
    color: #ffffff99;
    font-family: "Plus Jakarta Text", sans-serif;
  }
  strong {
    color: white;
  }
}
.email {
    white-space: nowrap;
}
.footer-bottom {
  border-top: 1px solid #394867;
  margin-top: 40px;
}
.bottom-text1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 23.2px;
  color: #ffffff99;
}
.connect-us {
  font-family: "Plus Jakarta Text", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32.4px;
  color: #ffffff80;
}
.bottom-text {
  font-family: "Plus Jakarta Text", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.2px;
  color: #FFFFFF99;
}
.button-text {
  color: white;
}
.read-more-button::before {
  background-color: white;
}
.read-more-button:hover .button-text {
  color: rgba(53, 100, 223, 1);
}
.project {
  font-family: 'Plus Jakarta Text', sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 40px;
  color: #FFFFFF;
  white-space: nowrap;
}
.gotproj {
  background: #FFFFFF08;
  height: 160px;
  padding: 24px 15px 24px 15px;
  gap: 24px;
  border-radius: 6px;
  opacity: 0px;
}
@media (max-width:767.98px) {
  .content {
    height: 170px;
    padding-top: 30px;
  }
  .connect-us{
    line-height:40.4px;
  }
  .socialmedia {
    position: relative;
    padding-top: 30px;
  }
}
@media (min-width:768px) and (max-width:991.98px) {
  .project {
    font-size: 20px;
    text-align: left;
  }
  .button-text {
    font-size: 14px;
  }
  .read-more-button {
    width: 147px;
  }
}