<div class="footer">
  <div class="footer-container">
    <div class="content">
      <div class="logo">
        <img src="assets/images/Group.png" alt="Techxle Logo" class="logo-img">
        <div class="group"></div>
      </div>
      <div class="socialmedia">
        <div class="icon"></div>
      </div>
    </div>
    <div class="footer-section company-address">
      <h2>Company Address</h2>
      <p>
        <strong>Address:</strong> SF4, Prabhatham Apartment, Chinnamettupalayam,
        Saravanampatti, Coimbatore - 641035 Tamilnadu
      </p>
      <p><strong>Phone:</strong> 301-637-6868</p>
      <p>
        <strong>Email:</strong>
        <a href="mailto:hello&#64;techxle.com">hello&#64;techxle.com</a>
      </p>
    </div>
    <div class="footer-section company">
      <h2>Company</h2>
      <ul>
        <li>About us</li>
        <li>Services</li>
        <li>Solutions</li>
        <li>Career</li>
        <li>Contact us</li>
      </ul>
    </div>
    <div class="footer-section services">
      <h2>Our Services</h2>
      <ul>
        <li>Power Platform Solution</li>
        <li>Cloud App Development</li>
        <li>Staffing Service</li>
        <li>Full Stack Development</li>
        <li>UI/UX Designing</li>
      </ul>
    </div>
    <div class="footer-section project">
      <h2>Got a project?</h2>
      <a href="#" class="connect-button">Connect with us</a>
      <img src="assets/images/Icons.png" alt="Techxle Logo" class="Icon_image">
    </div>
  </div>
  <div class="footer-bottom">
    <div class="social-icons">
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-x-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
    <p>&copy; 2022 Techxle Consulting Services</p>
    <ul>
      <li>Terms of Use</li>
      <li>Privacy Policy</li>
    </ul>
  </div>
</div>
