<section class="hero-section d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-12">
        <div class="hero-content">
          <p class="text-uppercase mb-2">
            <a routerLink="/aboutus" class="text-decoration-none">about us</a> / Leadership
          </p>

          <h1 class="mb-3">Business transformation through
            technology.</h1>
          <a routerLink="/contact" class="cta-button">
            <span class="text">Let's talk</span>
            <span class="arrow"><img src="assets/logo/arrow.png" alt="Arrow Icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="lea container text-center mt-5 pt-5">
  <h2 class="mb-5 d-flex justify-content-start">Meet Our Team</h2>
  <div class="row justify-content-center mt-3">
    <div class="col-md-3 mb-5" *ngFor="let member of teamMembers">
      <div class="team-member">
        <div class="image-container">
          <img [src]="member.imageBW" alt="{{member.name}}" class="img-fluid bw-image" />
          <img [src]="member.imageColor" alt="{{member.name}}" class="img-fluid color-image" />
        </div>
        <h5>{{member.name}}</h5>
        <p>{{member.role}}</p>
      </div>
    </div>
  </div>
</div>