
  .hero-section {   
      background: linear-gradient(90deg, #060e23 0%, rgba(17, 41, 106, 0) 124.34%),
        url("/assets/images/ui-banner.png");
    }    
  
    .ourapproach{
      margin-top:50px;
    }
    .approach{
      font-size: 36px;
      font-weight: 600;
      line-height: 45.36px;
      letter-spacing: 0.01em;
      color: rgba(10, 24, 62, 1);        
  }
  .archit{
      margin-top:40px;margin-bottom:40px;
  }
  .para1{
  font-size: 18px;
  font-weight: 400;
  line-height: 29.7px;
  letter-spacing: 0.01em;
  color: rgba(84, 93, 120, 1);
  }
  .heading{
      font-size: 20px;
      font-weight: 600;
      line-height: 25.2px;
      letter-spacing: 0.01em;
      color: rgba(6, 14, 35, 1);
      background: rgba(10, 24, 62, 0.1);    
  }
  .rotate-heading {
      transform: rotate(-90deg);
      white-space: nowrap;
  font-size: 20px;
  font-weight: 600;
  line-height: 25.2px;
  letter-spacing: 0.01em;
  color: rgba(6, 14, 35, 1);
  background: rgba(10, 24, 62, 0.1);
  padding:5px;
  
  }
  .step {
      text-align: center;
      max-width: 150px;
      height:250px;
  }
  .step p{
  font-size: 14px;
  font-weight: 500;
  line-height: 23.1px;
  color: rgba(84, 93, 120, 1);
  border:2px dotted black;
  height:150px;
  padding:3px;
  }
  .step h4{
  font-size: 18px;
  font-weight: 600;
  line-height: 22.68px;
  letter-spacing: 0.01em;
  color: rgba(6, 14, 35, 1);
  }
  .ima{
      margin-bottom:120px;
  }

  .read-more-button {
    color: rgba(53, 100, 223, 1);
}
.read-more-button::before {  
    background-color: rgba(53,100,223,1);  
}
.read-more-button:hover .button-text {
    color: white;
}
  @media (max-width: 767.98px) {
      .rotate-heading {
          display:none;
      }
      .step {
          margin: 20px 0;
      }
      .car{
          display:flex;
          flex-wrap:wrap;
      }
  }
  @media (min-width:768px) and (max-width:991.98px)
  {
      .step p{
          width:110px;
          height:230px;
      }
      .rotate-heading{
          padding:5px 45px;
      }
  }
  @media (min-width:768px) and (max-width:1024px){
    .image{
      height:520px;
    }
  }
  @media (max-width:767.98px)
{
  .font{
    width:100%;
  }
}
  
