<section class="hero-section d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-12">
        <div class="hero-content">
          <p class="text-uppercase mb-2">
            <a routerLink="/services" class="text-decoration-none">Services</a> / UI/UX designing
          </p>
         
          <h1 class="mb-3">User-Centric Design, Business Impact</h1>
          <a routerLink="/contact" class="cta-button">
            <span class="text">Let's talk</span>
            <span class="arrow"><img src="assets/logo/arrow.png" alt="Arrow Icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
 <mat-toolbar class="nav-toolbar container-fluid d-flex justify-content-center">
<nav class="nav-container">
      <a [routerLink]="['/cloudapp']" fragment="overview" [ngClass]="{'active-link': activeLink === 'overview'}" (click)="setActiveLink('overview')">Overview</a>
      <a [routerLink]="['/cloudapp']" fragment="ourapproach" [ngClass]="{'active-link': activeLink === 'ourapproach'}" (click)="setActiveLink('ourapproach')">Our Approach</a>
      <a [routerLink]="['/cloudapp']" fragment="ourcapabilities" [ngClass]="{'active-link': activeLink === 'ourcapabilities'}" (click)="setActiveLink('ourcapabilities')">Our Capabilities</a>
      <a [routerLink]="['/cloudapp']" fragment="impact" [ngClass]="{'active-link': activeLink === 'impact'}" (click)="setActiveLink('impact')">Impact</a>
</nav>
</mat-toolbar>
<section id="overview" class="overview container">
  <div class="row">
    <h1 class="menu   col-md-3 col-sm-12 mb-4">Overview</h1>
    <p class="text col-md-9 col-sm-12">
      Elevate your digital products with Techxle’s expert UI/UX Designing services. We create intuitive and visually appealing interfaces that provide a seamless user experience, ensuring that your applications are both functional and engaging. Our design approach focuses on understanding user needs and behaviors to craft experiences that delight and drive user satisfaction.
    </p>
  </div>
</section>

<section id="ourapproach" class="ourapproach container" >
  <div class="row">
   <h1 class="approach col-12 col-md-3">Approach</h1>
   <p class="para1 col-12 col-md-9">We follow a user-centered design process that involves collaborating with stakeholders and users to create intuitive and aesthetically pleasing interfaces. Our design team uses the latest tools and techniques to build experiences that are not only functional but also enjoyable to use</p>
  </div>
  <div class="archit col-12 justify-content-center">
      <h2 class="heading py-2 d-flex justify-content-center">Design Thinking Process</h2>
  </div>
  <div class="ima row">
      <div class="col-md-1  text-black d-flex align-items-end justify-content-center p-0 pb-lg-5">
          <h3 class="rotate-heading">Project Goals</h3>
      </div>
      <div class="car col-md-10  d-md-flex justify-content-around align-items-center  p-3">
          <div class="step">
              <img src="assets/images/Discover.svg" alt="Define" class="icon"/>
              <h4>Discover</h4>
              <p>Understand user needs, business goals, and market trends through comprehensive research.</p>
          </div>
          <div class="step">
              <img src="assets/images/Define.svg" alt="Define" class="icon"/>
              <h4>Define</h4>
              <p>Develop a UX roadmap and strategy that aligns with the business objectives.</p>
          </div>
          <div class="step">
              <img src="assets/images/Ideate.svg" alt="Ideate" class="icon"/>
              <h4>Ideate</h4>
              <p>Collaborate with the team to generate and evaluate ideas for potential features and/or solutions.</p>
          </div>
          <div class="step">
              <img src="assets/images/Prototype.svg" alt="Prototype" class="icon"/>
              <h4>Prototype</h4>
              <p>Develop wireframes and interactive prototypes to visualize the user journey.</p>
          </div>
          <div class="step">
              <img src="assets/images/Test.svg" alt="Test" class="icon"/>
              <h4>Test</h4>
              <p>Conduct usability testing to ensure the design meets user expectations and refine as needed.</p>
          </div>
      </div>
      <div class="col-md-1 text-center d-flex align-items-end justify-content-center text-black p-0 pb-lg-5">
          <h3 class="rotate-heading">Development</h3>
      </div>
  </div>   
</section>

<div class="banner">
<section id="ourcapabilities" class="container py-5 ourcapabilities">
  <div class="row">
    <div class="col-12  text-start mb-4">
      <h1 class="cap">Our Capabilities</h1>
      <p class="content">By focusing on employee development, we create a vibrant work environment filled with engaging activities.</p>
    </div>
  </div>

  <div class="row">
    <!-- Accordion Section -->
    <div class="col-md-7 col-12 order-2 order-md-1">
      <div class="accordion" id="accordionExample">
        <!-- App Development -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" (click)="changeImage(1)">
              Brand Identity
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="brand-text">Craft cohesive brand identities that align with your business vision and values.
                Develop strategic brand guidelines for consistent communication across all platforms. Create impactful visual branding elements, including logos, typography, and color schemes</p>
            </div>
          </div>
        </div>
 
        <!-- Process Automation -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" (click)="changeImage(2)">
              Digital Experiences
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="brand-text">Build responsive, user-friendly websites and applications with seamless navigation. Leverage data analytics to optimize digital experiences and drive customer engagement.Integrate emerging technologies such as AI and AR for enhanced user interaction</p>
            </div>
          </div>
        </div>
 
        <!-- Data Visualization -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" (click)="changeImage(3)">
              Product Design
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="brand-text">Design intuitive and visually appealing interfaces that enhance usability.
                Develop wireframes, prototypes, and user flows that align with user behavior.
                Incorporate user feedback into iterative design processes for continuous product improvement.</p>
            </div>
          </div>
        </div> 
      </div>
    </div>
 
    <!-- Image Section -->
    <div class="col-md-5 col-12 order-1 order-md-2 text-center text-md-start mb-4">
      <img [src]="currentImage" alt="Icon" class="image"/>
    </div>
  </div>
</section>
</div>
<section id="impact" class="impact container">
  <div class="outcomes">
    <h1 class="outcome-head text-start mt-5">Most Desired Outcomes</h1>
  </div>

  <!-- Image row -->
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
      <img src="assets/images/transform.png" alt="Icon" class="img-fluid" />
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
      <img src="assets/images/process-card.png" alt="Icon" class="img-fluid" />
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
      <img src="assets/images/boost.png" alt="Icon" class="img-fluid" />
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
      <img src="assets/images/ensure.png" alt="Icon" class="img-fluid" />
    </div>  
  </div>

  <!-- Text and technology section -->
  <div class="row mt-5">
    <h1 class="tech col-sm-12 col-md-4 col-xl-4 text-start text-md-left mt-5">We Work With Advanced Technology</h1>

    <div class="col-sm-12 col-md-8 col-xl-8">
      <div class="row justify-content-center mt-5">
        <!-- First row of tech icons -->
        <div class="col-6 col-sm-4 col-md-2 text-center">
          <img src="assets/logo/f1.png" alt="Power Apps" class="img-fluid" ngbTooltip="Figma" placement="bottom" >
        </div>
        <div class="col-6 col-sm-4 col-md-2 text-center">
          <img src="assets/logo/f2.png" alt="Power Automation" class="img-fluid" ngbTooltip="Adobe XD" placement="bottom" />
        </div>
        <div class="col-6 col-sm-4 col-md-2 text-center">
          <img src="assets/logo/f3.png" alt="Power Bi" class="img-fluid" ngbTooltip="Illustrator" placement="bottom"/>
        </div>         
      </div>

      <!-- Second row of tech icons -->
      <div class="row justify-content-center mt-5">
        <div class="col-6 col-sm-4 col-md-2 text-center">
          <img src="assets/logo/f4.png" alt="Group 10410" class="img-fluid" ngbTooltip="Photoshop" placement="bottom"/>
        </div>
        <div class="col-6 col-sm-4 col-md-2 text-center">
          <img src="assets/logo/f7.png" alt="Group 10411" class="img-fluid" ngbTooltip="Lucidchat" placement="bottom"/>
        </div>
        <div class="col-6 col-sm-4 col-md-2 text-center">
          <img src="assets/logo/f8.png" alt="Clipart" class="img-fluid" ngbTooltip="Micro" placement="bottom"/>
        </div>      
      </div>
    </div>
  </div>
</section>
<div class="banner1">
<div class="container py-5">
  <div class="row align-items-start mt-5">
    <!-- Left Section: Get In Touch Header -->
    <div class="col-md-6 text-left">
      <h5 class="text-get">GET IN TOUCH</h5>
      <h1 class="font">Have a Project? We Would Love to Hear From You</h1>
    </div>

    <!-- Right Section: Form -->
    <div class="col-md-6">
      <form (ngSubmit)="onSubmit()" class="p-3">
        <div class="form-group">
          <label for="name">NAME</label>
          <input type="text" class="form-control" id="name" name="name" required ngModel>
        </div>
        <div class="form-group">
          <label for="email">EMAIL ID</label>
          <input type="email" class="form-control" id="email" name="email" required ngModel>
        </div>
        <div class="form-group">
          <label for="service">SERVICE TYPE</label>
          <input type="text" class="form-control" id="service" name="service" required ngModel>
        </div>
        <div class="form-group">
          <label for="message">MESSAGE</label>
          <textarea class="form-control" id="message" name="message" rows="4" required ngModel></textarea>
        </div>
        <button mat-button class="read-more-button">
          <span class="button-text">Send Enquiry</span>
          <span >
            <img src="assets/images/Icons (1).svg" alt="Techxle Logo" class="icon-arrow">
          </span>
          </button>
      </form>
    </div>
  </div>
</div>
</div>



   
 