.container{
  margin-top:120px;
  margin-bottom:120px;
}
.move {  
  display: flex;
  gap: 0.5rem;
  overflow: hidden;
  position: relative; 
  height:400px;
} 
.move > div {
  flex: 1;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: flex 1s;
} 
.bac-1 {
  background:linear-gradient(360deg, #060E23 -10.83%, rgba(23, 55, 137, 0) 100%),url("https://drive.google.com/thumbnail?id=1luHqR1i_j_Yoo8s_CMXeoUqTe60Jvz6K"); 
  border-radius: 15px;
}
.bac-2 {
  background: linear-gradient(360deg, #060E23 -10.83%, rgba(23, 55, 137, 0) 100%),url("/assets/images/2.png"); 
  border-radius: 15px;
}
.bac-3 {
  background: linear-gradient(360deg, #060E23 -10.83%, rgba(23, 55, 137, 0) 100%),url("/assets/images/Mask group (2).png"); 
  border-radius: 15px;
}
.move > div:first-child {
  flex: 5;
}
.move .bac-1 .heading {
  display:none;
}
.move:not(.locked):hover > div {
  flex: 1;
} 
.move:not(.locked):hover > div.hovered {
  flex: 5;
} 
.heading {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 93%;
  font-family: 'Hauora';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  transform: rotate(-90deg);
  white-space: nowrap;
}
.title{ 
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 145%;
letter-spacing: 0.01em; 
color: #060E23;
white-space: nowrap; 
}
.para {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
letter-spacing: 0.02em; 
color: #545D78; 
} 
.move > div .heading {
  display: none;
}  
.move > div .heading {
  display: block;
} 
.move.locked > div .heading {
  display: block;
} 
.expanded .heading {
  display: none;
} 
.locked > div {
  flex: 1 !important;
} 
.locked > div.expanded {
  flex: 5 !important;
} 
.move:not(.locked) > div:hover .heading {
  display: none;
} 
.move:not(.locked) > div:not(.hovered) .heading {
  display: block;
}
.vision {
  height: 42px; 
  width: 42px; 
  object-fit: contain; 
}
@media (max-width:767.98px)
{
  .container{
    margin-bottom:45px;
  }
  .move{
    height:290px;
    gap:0.5rem;
  }
  .para{
    font-size:16px;
  }
}
@media (min-width:768px) and (max-width:991.98px)
{
  .move{
    height:400px;
    gap:0.5rem;
  }
  .para{
    font-size:16px;
  }
}
@media (min-width:992px) and (max-width:1199.98px)
{
  .move{
    height:350px;
    gap:0.5rem;
  }
}
