<div class="container container-fluid p-0">
  <div class= "row">
    <div class="col-lg-6 col-md-12">
  <div class="move" [ngClass]="{'locked': lockedContent}">
    <div class="bac-1" [ngClass]="{'expanded': expandedContent === 'bac-1-content', 'hovered': hoveredContent === 'bac-1-content'}" (mouseover)="handleMouseOver('bac-1-content')" (mouseout)="handleMouseOut()" (click)="handleClick('bac-1-content')">
      <div class="heading" *ngIf="activeContent !== 'bac-1-content'">Our Vision</div>
    </div>
    <div class="bac-2" [ngClass]="{'expanded': expandedContent === 'bac-2-content', 'hovered': hoveredContent === 'bac-2-content'}" (mouseover)="handleMouseOver('bac-2-content')" (mouseout)="handleMouseOut()" (click)="handleClick('bac-2-content')">
      <div class="heading" *ngIf="!lockedContent || expandedContent !== 'bac-2-content'">Our Mission</div>
    </div>
    <div class="bac-3" [ngClass]="{'expanded': expandedContent === 'bac-3-content', 'hovered': hoveredContent === 'bac-3-content'}" (mouseover)="handleMouseOver('bac-3-content')" (mouseout)="handleMouseOut()" (click)="handleClick('bac-3-content')">
      <div class="heading" *ngIf="!lockedContent || expandedContent !== 'bac-3-content'">Why Choose Us</div>
    </div>
  </div>
  </div>
  <div class="col-lg-6 col-md-12 d-flex justify-content-end">
  <div class="content">
    
    <div class="content-item bac-1-content" *ngIf="activeContent === 'bac-1-content'">
      <img  src="assets/images/vision.svg" alt="" class="vision">
      <h2 class="title">Our Vision</h2>
      <p class="para">We envision a future where organizations can seamlessly reinvent themselves by accelerating digital innovation. By leveraging next-generation technologies and driving data convergence across our clients’ ecosystems, we help businesses stay ahead in a rapidly evolving digital landscape. 
            
        </p>
    </div>
    <div class="content-item bac-2-content" *ngIf="activeContent === 'bac-2-content'">
      <img  src="assets/images/Mission.svg" alt="" class="vision">
      <h2 class="title">Our Mission</h2>
      <p class="para">At Techxle, our mission is to empower businesses through innovative technology solutions. We are dedicated to providing cutting-edge tools and services that drive efficiency, enhance productivity, and foster growth.</p>
    </div>
    <div class="content-item bac-3-content" *ngIf="activeContent === 'bac-3-content'">
      <img  src="assets/images/Value.svg" alt="" class="vision">
      <h2 class="title">Why Choose Us</h2>
      <p class="para">Specialized Expertise: Our team excels in developing efficient, open-source collaboration tools and research informatics.<br><br> End-to-End Management: Our seasoned program directors and managers ensure seamless oversight of your research initiatives.</p>  
    </div>
  </div>
  </div>
  </div>
</div>
