<section class="hero-section d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-12">
        <div class="hero-content">
          <p class="text-uppercase mb-2">
            <a routerLink="/services" class="text-decoration-none">Services</a> /Staff Service
          </p>
         
          <h1 class="mb-3">Precision-Driven Talent Acquisition</h1>
          <a routerLink="/contact" class="cta-button">
            <span class="text">Let's talk</span>
            <span class="arrow"><img src="assets/logo/arrow.png" alt="Arrow Icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
 <mat-toolbar class="nav-toolbar container-fluid d-flex justify-content-center">
<nav class="nav-container">
      <a [routerLink]="['/staffing']" fragment="overview" [ngClass]="{'active-link': activeLink === 'overview'}" (click)="setActiveLink('overview')">Overview</a>
      <a [routerLink]="['/staffing']" fragment="ourapproach" [ngClass]="{'active-link': activeLink === 'ourapproach'}" (click)="setActiveLink('ourapproach')">Our Approach</a>
      <a [routerLink]="['/staffing']" fragment="ourcapabilities" [ngClass]="{'active-link': activeLink === 'ourcapabilities'}" (click)="setActiveLink('ourcapabilities')">Our Capabilities</a>
      <a [routerLink]="['/staffing']" fragment="impact" [ngClass]="{'active-link': activeLink === 'impact'}" (click)="setActiveLink('impact')">Impact</a>
</nav>
</mat-toolbar>
<section id="overview" class="overview container">
  <div class="row">
    <h1 class="menu   col-md-3 col-sm-12 mb-4">Overview</h1>
    <p class="text1 col-md-9 col-sm-12">
      Attract and retain top talent with Techxle’s specialized staffing services. We connect businesses with highly skilled professionals who not only possess the technical expertise needed for your projects but also align with your company’s culture and values. Our rigorous selection process ensures that you find the perfect fit for your team, leading to long-term success.
    </p>
  </div>
</section>
<section id="ourapproach" class="ourapproach container">
  <div class="row">
    <h1 class="menu  col-md-3 col-sm-12 mb-4">Approach</h1>
    <p class="text1 col-md-9 col-sm-12">
      We take the time to understand your business, culture, and hiring requirements. Our team then identifies and interviews candidates who meet your criteria, presenting you with only the best talent. We provide ongoing support throughout the hiring process to ensure a smooth onboarding experience.
    </p>
  </div>
 
 
  <div class="row text-center">
    <div class="col-md-3"></div>
    <div class="test-3 col-sm-12 col-md-9 mb-4 d-flex flex-wrap justify-content-xs-between justify-content-sm-between  justify-content-center">
 
      <div class="define col-12 col-md-0 mb-4 d-flex flex-column align-items-center">
        <img src="assets/images/Frame 10409.svg" alt="Icon" class="def-img mb-3" />
        <h5 class="define-text"> Ecosystem enabled Talent Sourcing</h5>
      </div>
 
      <div class="define col-12 col-md-0 mb-4 d-flex flex-column align-items-center">
        <img src="assets/images/Frame 10415.svg" alt="Icon" class="test-img mb-3" />
        <h5 class="idea-text">Ethical Screening</h5>
      </div>
 
 
      <div class="define col-12 col-md-0 mb-4 d-flex flex-column align-items-center">
        <img src="assets/images/Group 10415.svg" alt="Icon" class="pro-img mb-3" />
        <h5 class="prototype-text">  Data-fueled Interviewing</h5>
      </div>
 
     
      <div class="define col-12 col-md-0 mb-4 d-flex flex-column align-items-center">
        <img src="assets/images/Frame 10416.svg" alt="Icon" class="ide-img mb-3" />
        <h5 class="iterate-text">Responsible Placement</h5>
      </div>
 
    </div>
  </div>
</section>
<div class="banner">
<section id="ourcapabilities" class="container py-5 ourcapabilities">
  <div class="row">
    <div class="col-12  text-start mb-4">
      <h1 class="cap">Our Capabilities</h1>
      <p class="content">By focusing on employee development, we create a vibrant work environment filled with engaging activities.</p>
    </div>
  </div>
 
  <div class="row">
    <!-- Accordion Section -->
    <div class="col-md-7 col-12 order-2 order-md-1">
      <div class="accordion" id="accordionExample">
        <!-- App Development -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" (click)="changeImage(1)">
              Technical Staffing
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="brand-text">Source and vet IT professionals with the right skills for your specific needs.</p>
            </div>
          </div>
        </div>
 
        <!-- Process Automation -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" (click)="changeImage(2)">
              Flexible Hiring Models
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="brand-text">Offer permanent, contract, and temporary staffing solutions.</p>
            </div>
          </div>
        </div>
 
        <!-- Data Visualization -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" (click)="changeImage(3)">
              Diverse Talent Pool
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="brand-text">Access a wide network of qualified professionals across various industries..</p>
            </div>
          </div>
        </div>
 
        <!-- Integration -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" (click)="changeImage(4)">
              Executive Search
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="brand-text">Identify and recruit top-level executives who can lead your organization to new heights.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <!-- Image Section -->
    <div class="col-md-5 col-12 order-1 order-md-2 text-center text-md-start mb-4">
      <img [src]="currentImage" alt="Icon" class="image"/>
    </div>
  </div>
</section>
</div>
<section id="impact" class="impact container">
  <div class="outcomes">
    <h1 class="outcome-head text-start mt-5">Most Desired Outcomes</h1>
  </div>
 
  <!-- Image row -->
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
      <img src="assets/images/5.png" alt="Icon" class="img-fluid" />
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
      <img src="assets/images/6.png" alt="Icon" class="img-fluid" />
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
      <img src="assets/images/7.png" alt="Icon" class="img-fluid" />
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
      <img src="assets/images/8.png" alt="Icon" class="img-fluid" />
    </div>
  </div>
 
</section>
<div class="banner1">
<div class="container py-5">
  <div class="row align-items-start mt-5">
    <!-- Left Section: Get In Touch Header -->
    <div class="col-md-6 text-left">
      <h5 class="text-get">GET IN TOUCH</h5>
      <h1 class="font">Have a Project? We Would Love to Hear From You</h1>
    </div>
 
    <!-- Right Section: Form -->
    <div class="col-md-6">
      <form (ngSubmit)="onSubmit()" class="p-3">
        <div class="form-group">
          <label for="name">NAME</label>
          <input type="text" class="form-control" id="name" name="name" required ngModel>
        </div>
        <div class="form-group">
          <label for="email">EMAIL ID</label>
          <input type="email" class="form-control" id="email" name="email" required ngModel>
        </div>
        <div class="form-group">
          <label for="service">SERVICE TYPE</label>
          <input type="text" class="form-control" id="service" name="service" required ngModel>
        </div>
        <div class="form-group">
          <label for="message">MESSAGE</label>
          <textarea class="form-control" id="message" name="message" rows="4" required ngModel></textarea>
        </div>
        <button mat-button class="read-more-button">
          <span class="button-text">Send Enquiry</span>
          <span >
            <img src="assets/images/Icons (1).svg" alt="Techxle Logo" class="icon-arrow">
          </span>
          </button>
      </form>
    </div>
  </div>
</div>
</div>
 