<div class="contact-form">
  <div class="form-content">
    <h1 class="get-text">Get in Touch?</h1>
    <div class="form">
      <div class="input">
        <h5 class="name">NAME</h5>
        <h5 class="email">EMAIL ID</h5>
        <h5 class="servicetype">SERVICE TYPE</h5>
        <h5 class="msg">MESSAGE</h5>
      </div>
      <div class="send">
        <h5 class="send-text">Send Enquiry</h5>
        <button class="send-button">
          <img src="assets/images/arrow.png" alt="Icon" />
        </button>
      </div>
    </div>
  </div>
  <div class="text-form"> <img src="assets/images/Mask group (1).png" alt="Icon" />
    <div class="text-content">
      <div class="frame-19">
        <h5 class="contact">CONTACT US</h5>
        <h1 class="project-text">
          Have a Project? We Would Love to Hear From You
        </h1>
      </div>
      <div class="frame-16">
        <div class="txt">
          <p><strong>Address:</strong> SF4, Prabhatham Apartment, 
            Chinnamettupalayam, Saravanampatti, 
            Coimbatore - 641035 Tamilnadu</p>
          <div class="contact-default">
            <h5 class="direction">Get Direction</h5>
            <a href="https://www.google.co.in/maps/place/Prabhatham+Apartment/@11.094768,76.9693951,17z/data=!3m1!4b1!4m6!3m5!1s0x3ba8f7aef7287abf:0x2a494549f722d5a6!8m2!3d11.094768!4d76.97197!16s%2Fg%2F11c6prp_2_?entry=ttu" target="_blank">
            <button class="vector">
              <img src="assets/images/Vector (1).png" alt="Icon" />
            </button>
            </a>
          </div>
        </div>
        <div class="txt-1">
          <div class="address-text">
            <h5 class="work">Work with us:</h5>
            <p class="work-content">
                <a href="mailto:hello@techxle.com">hello&#64;techxle.com</a>
            </p>
            <h5 class="career-text">Careers:</h5>
            <p class="job">
                <a href="mailto:jobs@techxle.com">jobs&#64;techxle.com</a>
            </p>
        </div>
        
        </div>
      </div>
    </div>
  </div>
</div>
