.text-contact{
  font-size: 18px;
  font-weight: 800;
  line-height: 22.68px;
  letter-spacing: 0.08em;
  color: #3564DF;
 
}
.container{
  margin-top: 90px;
}
.banner2{
  background-color:#EDF1FD
}
.font{
font-size: 38px;
font-weight: 600;
line-height: 58.9px;
width: 422px;
}
.address{
font-size: 18px;
font-weight: 500;
line-height: 29.7px;
letter-spacing: 0.01em;
color: #0A183E99;
}
strong{
  color: #060E23;
 
}
.direction{
font-size: 18px;
font-weight: 700;
line-height: 27.9px;
letter-spacing: 0.01em;
color: #3564DF;
}
.vector {
margin-top: -70px;
margin-left: 65px;
}
.work, .career-text {
  font-size: 18px;
  font-weight: 600;
  color: #060e23;  
}
 
.work-content, .job {
  font-size: 18px;
  font-weight: 500;
  color: #545d78 !important;
}
a{
  color: #545d78;
}
label{
  color: #545D78;
  font-size: 18px;
  font-weight: 600;
  line-height: 22.68px;
  }
  .form-control{
    border: 1px solid #0A183E3D;
    box-shadow: none;
    height:48px;
    border-radius: 4px;
  }
  .read-more-button {
    color: rgba(53, 100, 223, 1);
}
.read-more-button::before {  
    background-color: rgba(53,100,223,1);  
}
.read-more-button:hover .button-text {
    color: white;
}
@media (max-width:797.98px)
{
   .font{
    font-size:30px !important;
    width:100% !important;
   }
}