<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a class="navbar-brand d-flex justify-content-start" href="#"><img src="assets/images/logo.svg" alt="Techxle Logo"
        class="logo-img">
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()"
      [attr.aria-expanded]="isNavbarCollapsed ? 'false' : 'true'" aria-label="Toggle navigation">
      <span *ngIf="isNavbarCollapsed" class="navbar-toggler-icon"></span>
      <span *ngIf="!isNavbarCollapsed" class="close-icon">&times;</span>
    </button>

    <div class="collapse navbar-collapse d-md-flex justify-content-end" [ngbCollapse]="isNavbarCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/services" [ngClass]="{'active': selectedLink === 'services'}"
            (click)="selectLink('services')" (click)="closeNavbar()">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" [ngClass]="{'active': selectedLink === 'contact'}"
            (click)="selectLink('contact')" (click)="closeNavbar()">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>