<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a class="navbar-brand d-flex justify-content-start" href="#"><img src="./assets/images/Logotechxl.svg" alt="Techxle Logo"
        class="logo-img">
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()"
      [attr.aria-expanded]="isNavbarCollapsed ? 'false' : 'true'" aria-label="Toggle navigation">
      <span *ngIf="isNavbarCollapsed" class="navbar-toggler-icon"></span>
      <span *ngIf="!isNavbarCollapsed" class="close-icon">&times;</span>
    </button> 
    <div class="collapse navbar-collapse d-md-flex justify-content-end" [ngbCollapse]="isNavbarCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="" [ngClass]="{'active': selectedLink === 'home'}"
            (click)="selectLink('home')" (click)="closeNavbar()">HOME</a>
        </li>       
        <li class="nav-item dropdown">
          <a class="nav-link"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" [ngClass]="{'active': selectedLink === 'services'}">
            SERVICES
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item ite" routerLink="/services" [ngClass]="{'active-dropdown': activeDropdownItem === 'servi'}"
              (click)="selectDropdownItem('servi')" (click)="selectLink('services')" (click)="closeNavbar()">All Services &nbsp;&nbsp;<span class="bold">&#8594;</span></a></li>

            <li><a class="dropdown-item mt-2" routerLink="/services/power-platform-solution" [ngClass]="{'active-dropdown': activeDropdownItem === 'power'}"

              (click)="selectDropdownItem('power')" (click)="selectLink('services')" (click)="closeNavbar()">Power Platform Solution </a></li>
            <li><a class="dropdown-item mt-3" routerLink="/services/cloud-app-development" [ngClass]="{'active-dropdown': activeDropdownItem === 'cloud'}"
              (click)="selectDropdownItem('cloud')" (click)="selectLink('services')" (click)="closeNavbar()">Cloud App Development</a></li>
            <li><a class="dropdown-item mt-3" routerLink="/services/staffing-service" [ngClass]="{'active-dropdown': activeDropdownItem === 'staffing'}"
              (click)="selectDropdownItem('staffing')" (click)="selectLink('services')"  (click)="closeNavbar()">Staffing Service</a></li>
              <li><a class="dropdown-item mt-3" routerLink="/services/ui-ux-designing" [ngClass]="{'active-dropdown': activeDropdownItem === 'ui'}"
                (click)="selectDropdownItem('ui')" (click)="selectLink('services')" (click)="closeNavbar()">UI/UX Designing</a></li>
                <li><a class="dropdown-item mt-3" routerLink="/services/full-stack-development" [ngClass]="{'active-dropdown': activeDropdownItem === 'fullstack'}"
                (click)="selectDropdownItem('fullstack')" (click)="selectLink('services')" (click)="closeNavbar()">Full Stack Development</a></li>
                <li><a class="dropdown-item mt-3" routerLink="/services/ai-application" [ngClass]="{'active-dropdown': activeDropdownItem === 'ai'}"
                (click)="selectDropdownItem('ai')" (click)="selectLink('services')" (click)="closeNavbar()">AI Application</a></li>
                <li><a class="dropdown-item devops mt-3" routerLink="/services/devops" [ngClass]="{'active-dropdown': activeDropdownItem === 'devops'}"
                (click)="selectDropdownItem('devops')" (click)="selectLink('services')" (click)="closeNavbar()">DevOps</a></li>
          </ul>
        </li>
        <!--<li class="nav-item dropdown">
          <a class="nav-link"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" [ngClass]="{'active': selectedLink === 'solutions'}">
            SOLUTIONS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item ite" routerLink="/solutions" [ngClass]="{'active-dropdown': activeDropdownItem === 'solut'}"
              (click)="selectDropdownItem('solut')" (click)="selectLink('solutions')" (click)="closeNavbar()">All Solutions &nbsp;&nbsp;<span class="bold">&#8594;</span></a></li>
            <li><a class="dropdown-item mt-1" routerLink="/solutions/lab-automation-&-reservation" [ngClass]="{'active-dropdown': activeDropdownItem === 'lab'}"
              (click)="selectDropdownItem('lab')" (click)="selectLink('solutions')" (click)="closeNavbar()">Lab Automation & Reasevation </a></li>
            <li><a class="dropdown-item mt-1" routerLink="/solutions/inventory-management" [ngClass]="{'active-dropdown': activeDropdownItem === 'invento'}"
              (click)="selectDropdownItem('invento')" (click)="selectLink('solutions')" (click)="closeNavbar()">Inventory Management</a></li>
            <li><a class="dropdown-item mt-1" routerLink="/solutions/acquisition-support-for-labs" [ngClass]="{'active-dropdown': activeDropdownItem === 'acquisi'}"
              (click)="selectDropdownItem('acquisi')" (click)="selectLink('solutions')"  (click)="closeNavbar()">Acquisition Support For Labs</a></li>
              <li><a class="dropdown-item mt-1" routerLink="/solutions/sample-tracking" [ngClass]="{'active-dropdown': activeDropdownItem === 'sample'}"
                (click)="selectDropdownItem('sample')" (click)="selectLink('solutions')" (click)="closeNavbar()">Sample Tracking</a></li>
                <li><a class="dropdown-item mt-1" routerLink="/solutions/project-portfolio-management" [ngClass]="{'active-dropdown': activeDropdownItem === 'project'}"
                (click)="selectDropdownItem('project')" (click)="selectLink('solutions')" (click)="closeNavbar()">Project Portfolio Management</a></li>
                <li><a class="dropdown-item mt-1" routerLink="/solutions/review-board-management" [ngClass]="{'active-dropdown': activeDropdownItem === 'review'}"
                (click)="selectDropdownItem('review')" (click)="selectLink('solutions')" (click)="closeNavbar()">Review Board Mangement</a></li>
                <li><a class="dropdown-item mt-1" routerLink="/solutions/grant-applications" [ngClass]="{'active-dropdown': activeDropdownItem === 'grant'}"
                (click)="selectDropdownItem('grant')" (click)="selectLink('solutions')" (click)="closeNavbar()">Grant Applications</a></li>
                <li><a class="dropdown-item mt-1" routerLink="/solutions/healthcare-portal" [ngClass]="{'active-dropdown': activeDropdownItem === 'health'}"
                (click)="selectDropdownItem('health')" (click)="selectLink('solutions')" (click)="closeNavbar()">Healthcare Portal</a></li>
                <li><a class="dropdown-item mt-1" routerLink="/solutions/psr" [ngClass]="{'active-dropdown': activeDropdownItem === 'psr'}"
                (click)="selectDropdownItem('psr')" (click)="selectLink('solutions')" (click)="closeNavbar()">PSR</a></li>
                <li><a class="dropdown-item sale mt-1" routerLink="/solutions/custom-sales-crm-platform" [ngClass]="{'active-dropdown': activeDropdownItem === 'sale'}"
                (click)="selectDropdownItem('sale')" (click)="selectLink('solutions')" (click)="closeNavbar()">Custom Sales CRM Platform</a></li>
          </ul>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" routerLink="/solutions" [ngClass]="{'active': selectedLink === 'solutions'}"
            (click)="selectLink('solutions')" (click)="closeNavbar()">SOLUTIONS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us" [ngClass]="{'active': selectedLink === 'aboutus'}"
            (click)="selectLink('aboutus')" (click)="closeNavbar()">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us" [ngClass]="{'active': selectedLink === 'contact'}"
            (click)="selectLink('contact')" (click)="closeNavbar()">CONTACT US</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
