<mat-toolbar color="primary" class="header-toolbar">
  <span class="logo">
    <a routerLink="/">
      <img
        src="assets/images/logo.svg"
        alt="Techxle Logo"
        class="logo-img"
        (click)="ttoggleHomeVisibility()"
      />
    </a>
  </span>
   
  <button mat-icon-button class="menu-button" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <nav class="nav-container" [ngClass]="{'mobile-nav': isMenuOpen}">
    <a
      mat-button
      routerLink="/services"
      class="services"
      [ngClass]="{ 'active-link': activeLink === 'services' }"
      (click)="setActiveLink('services'); toggleHomeVisibility();checkkurl();closeMenu()"
      >SERVICES</a
    >
    <a
      mat-button
      routerLink="/solutions"
      class="solutions"
      [ngClass]="{ 'active-link': activeLink === 'solutions' }"
      (click)="setActiveLink('solutions'); toggleHomeVisibility();checkurl();closeMenu()"
      >SOLUTIONS</a
    >
    <a
      mat-button
      routerLink="/aboutus"
      class="about-us"
      [ngClass]="{ 'active-link': activeLink === 'aboutus' }"
      (click)="setActiveLink('aboutus'); toggleHomeVisibility();closeMenu()"
      >ABOUT US</a
    >
    <a
      mat-button
      routerLink="/career"
      class="career"
      [ngClass]="{ 'active-link': activeLink === 'career' }"
      (click)="setActiveLink('career'); toggleHomeVisibility();closeMenu()"
      >CAREER</a
    >
    <a
      mat-button
      routerLink="/contact"
      class="contact"
      [ngClass]="{ 'active-link': activeLink === 'contact' }"
      (click)="setActiveLink('contact'); toggleHomeVisibility();checkurl();closeMenu()"
      >CONTACT</a
    >
  </nav>
</mat-toolbar>
<div *ngIf="isHomeVisible">
    <app-solutionban></app-solutionban>
    <app-banner></app-banner>
    <app-callout></app-callout>
    <app-service></app-service>
    <app-mission></app-mission>
</div>