<section class="hero-section d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-8 col-12">
          <div class="hero-content">
            <p class="text-uppercase mb-2">
              <a routerLink="/services" class="text-decoration-none">Services</a> /Cloud App Development
            </p>           
            <h1 class="mb-3">Innovate Fearlessly, Deploy Seamlessly</h1>
            <a routerLink="/contact" class="cta-button">
              <span class="text">Let's talk</span>
              <span class="arrow"><img src="./assets/logo/arrow.png" alt="Arrow Icon"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <nav id="sticky-navbar" class="navbar navbar-expand-md navbar-light">
    <div class="nav container">
      <div class="current-section d-md-none text-start flex-grow-1">
        {{ currentSectionTitle }}
      </div>
      <button class="navbar-toggler me-0 p-0" type="button" (click)="toggleNavbar()" aria-controls="navbarNav"
        [attr.aria-expanded]="isNavbarCollapsed" aria-label="Toggle navigation">
        <span *ngIf="!isNavbarCollapsed">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path d="M6 10l6 6 6-6"/>
          </svg>
        </span>
        <span *ngIf="isNavbarCollapsed" class="close-icon">&times;</span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" [ngClass]="{'show': isNavbarCollapsed}" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [class.active]="currentSection === 'overview'" (click)="scrollToSection('overview')">OVERVIEW</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="currentSection === 'approach'"  (click)="scrollToSection('approach')">OUR APPROACH</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="currentSection === 'capabilities'" (click)="scrollToSection('capabilities')">OUR CAPABILITIES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="currentSection === 'impact'" (click)="scrollToSection('impact')">IMPACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section id="overview" class="overview container">
    <div class="row">
      <div class=" col-md-4 col-lg-3 col-sm-12 mb-4">
        <h1 class="menu">Overview</h1>
      </div>
      <p class="text1 col-md-8 col-lg-9 col-sm-12">
        Empower your business to thrive in the digital age with scalable and secure cloud application development. Techxl provides end-to-end cloud development services that transform your operations by moving business-critical applications to the cloud. Whether you are modernizing legacy systems or building new applications, our cloud solutions drive efficiency and innovation while ensuring robust security and compliance.
      </p>
    </div>
  </section>
  <section id="approach" class="ourapproach container">
    <div class="row">
      <h1 class="menu col-md-4 col-lg-3 col-sm-12 mb-4">Approach</h1>
      <p class="text1 col-md-8 col-lg-9 col-sm-12">
        From strategy to deployment, our team works closely with you to assess your needs, design a cloud architecture, and implement secure, scalable cloud applications. We follow industry best practices to ensure that your applications are future-proof and cost-efficient.
      </p>
    </div> 
    <div class="row text-center">
      <div class="col-md-4 col-lg-3"></div>
      <div class="test-3 col-sm-12 col-md-8 col-lg-9 mb-4 d-flex flex-wrap justify-content-xs-between justify-content-sm-between  justify-content-center">   
        <div class="define col-12 col-md-0 mb-4 d-flex flex-column align-items-center justify-content-start">
          <img src="./assets/images/ca1.svg" alt="Icon" class="def-img mb-3" />
          <h5 class="define-text">Enterprise-wide Assessment</h5>
        </div>   
        <div class="define col-12 col-md-0 mb-4 d-flex flex-column align-items-center justify-content-start">
          <img src="./assets/images/ca2.svg" alt="Icon" class="test-img mb-3" />
          <h5 class="idea-text">Data and Cloud-driven Migration</h5>
        </div>  
        <div class="define col-12 col-md-0 mb-4 d-flex flex-column align-items-center justify-content-start">
          <img src="./assets/images/pf4.svg" alt="Icon" class="pro-img mb-3" />
          <h5 class="prototype-text">Optimization with Ecosystem Enablement</h5>
        </div>  
        <div class="define col-12 col-md-0 mb-4 d-flex flex-column align-items-center justify-content-start">
          <img src="./assets/images/ca4.svg" alt="Icon" class="ide-img mb-3" />
          <h5 class="iterate-text">Responsible Cloud Management</h5>
        </div>   
      </div>
    </div> 
  </section>
  <div class="banner">
  <section id="capabilities" class="container py-5 ourcapabilities">
    <div class="row">
      <div class="col-12  text-start mb-4">
        <h1 class="cap">Our Capabilities</h1>       
      </div>
    </div>   
    <div class="row">
      <div class="col-md-7 col-12 order-2 order-md-1 p-0">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" (click)="changeImage(1)">
                Cloud Strategy
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="brand-text">Develop a cloud strategy aligned with your business goals.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" (click)="changeImage(2)">
                Cloud-Native Development
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="brand-text">Build applications designed to leverage the full power of cloud platforms such as AWS, Microsoft Azure, and Google Cloud.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" (click)="changeImage(3)">
                Migration Services
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="brand-text">Seamlessly migrate your existing applications to the cloud with minimal disruption.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" (click)="changeImage(4)">
                Cloud Security
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="brand-text">Implement security best practices to protect your cloud environment.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-12 order-1 order-md-2 text-center text-md-start mb-4">
        <img [src]="currentImage" alt="Icon" class="image"/>
      </div>
    </div>
  </section>
  </div>
  <section id="impact" class="impact container">
    <div class="outcomes">
      <h1 class="outcome-head text-start mt-5">Most Desired Outcomes</h1>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
        <img src="./assets/images/c1.svg" alt="Icon" class="img-fluid" />
      </div>
      <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
        <img src="./assets/images/c2.svg" alt="Icon" class="img-fluid" />
      </div>
      <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
        <img src="./assets/images/c3.svg" alt="Icon" class="img-fluid" />
      </div>
      <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
        <img src="./assets/images/c4.svg" alt="Icon" class="img-fluid" />
      </div>
    </div>
    <div class="row mt-5">
      <h1 class="tech col-sm-12 col-md-4 col-xl-4 text-start text-md-left mt-5">We Work With Advanced Technology</h1>
       <div class="col-sm-12 col-md-8 col-xl-8">
        <div class="row justify-content-center mt-5">
          <!-- First row of tech icons -->
          <div class="col-4 col-sm-4 col-md-2 text-center mt-md-0 mt-5">
            <img src="./assets/images/756775c0e4483c74bc9ffbb730e3fab2 1.png" alt="Power Apps" class="img-fluid" ngbTooltip=" Azure" placement="bottom" >
          </div>
          <div class="col-4 col-sm-4 col-md-2 text-center mt-md-0 mt-5">
            <img src="./assets/images/db2310455dd76b2cd290f67635f6fa78 1.png" alt="Power Automation" class="img-fluid" ngbTooltip=" Google Cloud" placement="bottom" />
          </div>
          <div class="col-4 col-sm-4 col-md-2 text-center mt-md-0 mt-5">
            <img src="./assets/images/28d4d195750b99bdbac908ef4b035a01 1.png" alt="Power Bi" class="img-fluid" ngbTooltip=" AWS" placement="bottom"/>
          </div>        
        </div>  
      </div>
    </div>
  </section>
  <div class="banner1">
  <div class="container py-5">
    <div class="row align-items-start mt-5">
      <div class="col-md-6 text-left">
        <h5 class="text-get">GET IN TOUCH</h5>
        <h1 class="font">Have a Project? We Would Love to Hear From You</h1>
      </div>
      <div class="col-md-6">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="form-group mt-5">
            <label for="name">Name</label>
            <input type="text" class="form-control mt-2" id="name" formControlName="name" />
            <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="text-danger">
              Name is required
            </div>
          </div>       
          <div class="form-group mt-4">
            <label for="email">Email ID</label>
            <input type="email" class="form-control mt-2" id="email" placeholder="name@example.com" formControlName="email" />
            <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="text-danger">
              <div *ngIf="contactForm.get('email')?.errors?.['required']">Email is required</div>
              <div *ngIf="contactForm.get('email')?.errors?.['email']">Please enter a valid email</div>
            </div>            
          </div>       
          <div class="form-group mt-4">
            <label for="service-type">Service Type</label>
            <div class="custom-select-wrapper">
                <select class="form-control custom-select mt-2" id="service-type" formControlName="service_type">
                    <option value="" disabled selected>Select a service type</option>
                    <option value="Power Platform Development">Power Platform Development</option>
                    <option value="Cloud App Development">Cloud App Development</option>
                    <option value="Staffing Service">Staffing Service</option>
                    <option value="UI/UX Designing">UI/UX Designing</option>
                    <option value="Full Stack Development">Full Stack Development</option>
                    <option value="AI Application">AI Application</option>
                    <option value="Devops">Devops</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div *ngIf="contactForm.get('service_type')?.invalid && contactForm.get('service_type')?.touched" class="text-danger">
                Service type is required
            </div>
        </div>
          <div class="form-group mt-4">
            <label for="message">Message</label>
            <textarea class="form-control mt-2" id="message" rows="4" formControlName="message"></textarea>
            <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="text-danger">
              Message is required
            </div>
          </div>
          <button mat-button type="submit" class=" read-more-button mt-4">
            <span class="button-text">Send Enquiry</span>
            <span><img src="./assets/images/Icons (1).svg" alt="Techxle Logo" class="icon" /></span>
          </button>
          <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
          <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
        </form>
      </div>
    </div>
  </div>
</div>
  
  