.hero-section {
  background: linear-gradient(90deg, #060e23 0%, rgba(17, 41, 106, 0) 124.34%),
    url("/assets/images/Mask group (5).png");
}
@media (min-width:768px) and (max-width:1024px){
  .image{
    height:520px;
  }
}
@media (max-width:767.98px)
{
  .font{
    width:100%;
  }
}