<div class="solution-container">
    <h2>Discover Our Impact</h2>
    <div class="solution-card">
      <div class="solution-text">
        <h3>SOLUTIONS</h3>
        <h1>Smart Assistant to Reduce Post-Discharge Readmissions</h1>
      </div>
      <div class="solution-image">
        <img src="../assets/images/solution img.png" alt="Smart Assistant" />
        <!-- You can replace the src with the path to your image -->
      </div>
      <div class="read-more">
        <h5>Read More</h5>
      </div>
      <div class="icon-circle">
        <img src="../assets/images/arrow.png" alt="Smart Assistant" />
        <a (click)="onDownButtonClick()" class="left-arrow">
          <img src="../assets/images/L-Arrow.png" alt="Smart Assistant" />
        </a>
        <a (click)="onDownButtonClick()" class="right-arrow">
          <img src="../assets/images/R-Arrow.png" alt="Smart Assistant" />
        </a>
      </div>
    </div>
    <div id="solutionCardOnTop" class="solution-card solution-card-on-top">
      <div class="solution-text">
        <h3>SOLUTIONS</h3>
        <h1>Telehealth Integration in EHR to Assist Over-burdened Providers</h1>
      </div>
      <div class="solution-image">
        <img src="../assets/images/solution img.png" alt="Smart Assistant" />
      </div>
      <div class="read-more">
        <h5>Read More</h5>
      </div>
      <div class="icon-circle">
        <img src="../assets/images/arrow.png" alt="Smart Assistant" />
    </div>
  </div>
  