
 
<div class="solution-container container-fluid">
  <h2>Discover Our Impact</h2>
 
  <!-- First Solution Card -->
  <div class="solution-card row">
    <!-- Solution Text Section -->
    <div class="col-lg-6 col-md-12 solution-text">
      <h3>SOLUTIONS</h3>
      <h1>Smart Assistant to Reduce Post-Discharge Readmissions</h1>
    </div>
   
    <!-- Solution Image Section -->
    <div class="col-lg-6 col-md-12 solution-image">
      <img src="https://drive.google.com/thumbnail?id=1cWhStf5Be5GM8z62KYPXP4Mdaa9nL8cl " alt="Smart Assistant" class="img-fluid" />
    </div>
   
    <!-- Read More Section -->
    <div class="read col-12">
      <a href="/solutions" class="read-more-button">
        <span class="button-text">Read More</span>
        <img class="icon" src="https://drive.google.com/thumbnail?id=1Vzgbe9oKDPTs2eBEq0qZ7vSK3mhSog8l" alt="Smart Assistant" />
      </a>
    </div>
 
    <!-- Navigation Arrows -->
    <div class="icon-circle col-12">
      <a (click)="onDownButtonClick()" class="left-arrow">
        <img src="https://drive.google.com/thumbnail?id=1sThs8JEulYnnBz8x46ZKYoXiaa66_0yj" alt="Smart Assistant" />
      </a>
      <a (click)="onDownButtonClick()" class="right-arrow">
        <img src="https://drive.google.com/thumbnail?id=1SpkAZA4HOw1pH2Exo0ajbry4cNWh8i4z" alt="Smart Assistant" />
      </a>
    </div>
  </div>
 
  <!-- Second Solution Card on Top -->
  <div id="solutionCardOnTop" class="solution-card solution-card-on-top row">
    <!-- Solution Text Section -->
    <div class="col-lg-6 col-md-12 solution-text">
      <h3>SOLUTIONS</h3>
      <h1>Telehealth Integration in EHR to Assist Over-burdened Providers</h1>
    </div>
   
    <!-- Solution Image Section -->
    <div class="col-lg-6 col-md-12 solution-image">
      <img src="https://drive.google.com/thumbnail?id=1cWhStf5Be5GM8z62KYPXP4Mdaa9nL8cl " alt="Smart Assistant" class="img-fluid" />
    </div>
   
    <!-- Read More Section -->
    <div class="read col-12">
      <a href="/solutions" class="read-more-button">
        <span class="button-text">Read More</span>
        <img class="icon" src="https://drive.google.com/thumbnail?id=1Vzgbe9oKDPTs2eBEq0qZ7vSK3mhSog8l" alt="Smart Assistant" />
      </a>
    </div>
  </div>
</div>