<div class="solution-container">
    <h2>Discover Our Impact</h2>
    <div class="solution-card">
      <div class="solution-text">
        <h3>SOLUTIONS</h3>
        <h1>Smart Assistant to Reduce Post-Discharge Readmissions</h1>
      </div>
      <div class="solution-image">
        <img src="https://techxle-my.sharepoint.com/:i:/r/personal/paripurana_g_techxle_com/Documents/Techxle%20website%20-%20SRC/solution%20img.png?csf=1&web=1&e=bmlUji" alt="Smart Assistant" />
        <!-- You can replace the src with the path to your image -->
      </div>
      <div class="read">
        <a href="/solutions" class="read-more-button">
            <span class="button-text">Read More</span>
        </a>
    </div>
    
      <div class="icon-circle">
        <img src="https://techxle-my.sharepoint.com/:i:/r/personal/paripurana_g_techxle_com/Documents/Techxle%20website%20-%20SRC/arrow.png?csf=1&web=1&e=FyOIJo" alt="Smart Assistant" />
        <a (click)="onDownButtonClick()" class="left-arrow">
          <img src="https://techxle-my.sharepoint.com/:i:/r/personal/paripurana_g_techxle_com/Documents/Techxle%20website%20-%20SRC/L-Arrow.png?csf=1&web=1&e=BwWCtZ" alt="Smart Assistant" />
        </a>
        <a (click)="onDownButtonClick()" class="right-arrow">
          <img src="https://techxle-my.sharepoint.com/:i:/r/personal/paripurana_g_techxle_com/Documents/Techxle%20website%20-%20SRC/R-Arrow.png?csf=1&web=1&e=Z8KVfj" alt="Smart Assistant" />
        </a>
      </div>
    </div>
    <div id="solutionCardOnTop" class="solution-card solution-card-on-top">
      <div class="solution-text">
        <h3>SOLUTIONS</h3>
        <h1>Telehealth Integration in EHR to Assist Over-burdened Providers</h1>
      </div>
      <div class="solution-image">
        <img src="https://techxle-my.sharepoint.com/:i:/r/personal/paripurana_g_techxle_com/Documents/Techxle%20website%20-%20SRC/solution%20img.png?csf=1&web=1&e=bmlUji" alt="Smart Assistant" />
      </div>
    
     <a href="/solutions" class="read-more-button">
    <span class="button-text">Read More</span>
    <img class="icon" src="https://techxle-my.sharepoint.com/:i:/r/personal/paripurana_g_techxle_com/Documents/Techxle%20website%20-%20SRC/arrow.png?csf=1&web=1&e=hBAccW" alt="Smart Assistant" />
</a>

    
  
  </div>
  