<div class="hero-banner">
  <img src="../assets/images/Image.png" alt="hero-banner" />
    <div class="overlay-text">
      <div class="-block">
        <div class="content-block">
          <div id="top-header">
            Pioneering New Approaches to Advance Research and Technologies
          </div>
  
          <h4>Client Centered. Associate Focused. Collaborative Minded.</h4>
          <!--<h5>Connect with us</h5>-->
        </div>
        <div class="component">
          <h5>Connect with us</h5>
          <a [routerLink]="['/contact']">
            <img class="icon" src="assets/images/Icons.png">
          </a>
          
        </div>
      </div>
    </div>
  </div>
