<div class="hero-banner">

  
  <img class="img" src="https://techxle-my.sharepoint.com/:i:/r/personal/paripurana_g_techxle_com/Documents/Techxle%20website%20-%20SRC/Image.png?csf=1&web=1&e=hl2sXk" alt="hero-banner" />
    <div class="overlay-text">
      <div class="-block">
        <div class="content-block">
          <div id="top-header">
            Pioneering New Approaches to Advance Research and Technologies
          </div>
  
          <h4>Client Centered. Associate Focused. Collaborative Minded.</h4>
        </div>
        <button mat-button (click)="navigateToContact()" class="read-more-button">
          <span class="button-text">Connect with us</span>
          <span >
            <img src="assets/images/Icons.png" alt="Techxle Logo" class="icon">
          </span>
      </button>
      </div>
    </div>
  </div>
