<section id="ourapproach" class="ourapproach container" >
    <div class="row">
     <h1 class="approach col-12 col-md-4">Our Approach</h1>
     <p class="para1 col-12 col-md-8">We follow a user-centered design process that involves collaborating with stakeholders and users to create intuitive and aesthetically pleasing interfaces. Our design team uses the latest tools and techniques to build experiences that are not only functional but also enjoyable to use</p>
    </div>
    <div class="archit col-12 justify-content-center">
        <h2 class="heading py-2 d-flex justify-content-center">Design Thinking Process</h2>
    </div>
    <div class="ima row">
        <div class="col-md-1  text-black d-flex align-items-end justify-content-center p-0 pb-lg-5">
            <h3 class="rotate-heading">Project Goals</h3>
        </div>
        <div class="car col-md-10  d-md-flex justify-content-around align-items-center  p-3">
            <div class="step">
                <img src="assets/images/Discover.svg" alt="Define" class="icon"/>
                <h4>Discover</h4>
                <p>Understand user needs, business goals, and market trends through comprehensive research.</p>
            </div>
            <div class="step">
                <img src="assets/images/Define.svg" alt="Define" class="icon"/>
                <h4>Define</h4>
                <p>Develop a UX roadmap and strategy that aligns with the business objectives.</p>
            </div>
            <div class="step">
                <img src="assets/images/Ideate.svg" alt="Ideate" class="icon"/>
                <h4>Ideate</h4>
                <p>Collaborate with the team to generate and evaluate ideas for potential features and/or solutions.</p>
            </div>
            <div class="step">
                <img src="assets/images/Prototype.svg" alt="Prototype" class="icon"/>
                <h4>Prototype</h4>
                <p>Develop wireframes and interactive prototypes to visualize the user journey.</p>
            </div>
            <div class="step">
                <img src="assets/images/Test.svg" alt="Test" class="icon"/>
                <h4>Test</h4>
                <p>Conduct usability testing to ensure the design meets user expectations and refine as needed.</p>
            </div>
        </div>
        <div class="col-md-1 text-center d-flex align-items-end justify-content-center text-black p-0 pb-lg-5">
            <h3 class="rotate-heading">Development</h3>
        </div>
    </div>   
</section>