.scroll-to-top-button {
    position: fixed;           
    bottom: 1.25rem;           
    right: 1.25rem;            
    width: 2.5rem;             
    height: 2.5rem;            
    background-color: #0c5adb;
    color: white;             
    display: flex;             
    align-items: center;       
    justify-content: center;   
    border-radius: 50%;        
    transition: background-color 0.3s ease;
    z-index: 1000;             
    border:none;
    outline: none !important;   
  }
  
  .scroll-to-top-button:hover {
    background-color: #0c5adb; 
  }