<app-hero-section
  [backgroundImage]="'./assets/images/mask-group-4.png'"
  [breadcrumbText]="'Services'"
  [breadcrumbLink]="'/services'"
  [secondaryText]="'Power Platform Solutions'"
  [heading]="'Efficiency Unleashed: Power Platform Solutions.'">
</app-hero-section>
<nav id="sticky-navbar" class="navbar navbar-expand-md navbar-light">
  <div class="nav container">
    <div class="current-section d-md-none text-start flex-grow-1">
      {{ currentSectionTitle }}
    </div>
    <button class="navbar-toggler me-0 p-0" type="button" (click)="toggleNavbar()" aria-controls="navbarNav"
      [attr.aria-expanded]="isNavbarCollapsed" aria-label="Toggle navigation">
      <span *ngIf="!isNavbarCollapsed">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
          <path d="M6 10l6 6 6-6"/>
        </svg>
      </span>
      <span *ngIf="isNavbarCollapsed" class="close-icon">&times;</span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" [ngClass]="{'show': isNavbarCollapsed}" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [class.active]="currentSection === 'overview'" (click)="scrollToSection('overview')">OVERVIEW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="currentSection === 'approach'"  (click)="scrollToSection('approach')">OUR APPROACH</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="currentSection === 'capabilities'" (click)="scrollToSection('capabilities')">OUR CAPABILITIES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="currentSection === 'impact'" (click)="scrollToSection('impact')">IMPACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <section id="overview" class="overview container">
    <div class="row">
      <div class=" col-md-4 col-lg-3 col-sm-12 mb-4">
      <h1  class="menu">Overview</h1>
      </div>
      <p class="text1 col-md-8 col-lg-9 col-sm-12">
        Revolutionize your business operations with Techxl’s Power Platform solutions. Our expert team specializes in crafting low-code, no-code solutions using Microsoft’s Power Platform, enabling your organization to automate processes, integrate systems, and develop custom applications without extensive coding knowledge. <br><br>
        By streamlining workflows and boosting productivity, we help businesses rapidly adapt to new challenges and seize opportunities.
      </p>

    </div>
  </section>
  <section  id="approach" class="ourapproach container">
    <div class="row">
      <h1 class="menu col-md-4 col-lg-3 col-sm-12 mb-4">Approach</h1>
      <p class="text1 col-md-8 col-lg-9 col-sm-12">
        We begin by understanding your business processes and pain points. Our team then designs a tailored solution, utilizing the Power Platform to automate tasks, improve workflows, and develop applications that fit your specific needs. We ensure continuous support and optimization throughout the entire lifecycle of your solution.
      </p>
    </div>
    <div class="row text-center">
      <div class="col-md-4 col-lg-3"></div>
      <div class="test-3 col-sm-12 col-md-8 col-lg-9 mb-4 d-flex flex-wrap justify-content-xs-between justify-content-sm-between  justify-content-center">

        <div class="define col-12 col-md-0 mb-4 d-flex flex-column align-items-center justify-content-start">
          <img src="./assets/images/pf1.svg" alt="Icon" class="def-img mb-3" />
          <h5 class="define-text">Insight-driven Requirement Gathering</h5>
        </div>
        <div class="define col-12 col-md-0 mb-4 d-flex flex-column align-items-center justify-content-start">
          <img src="./assets/images/pf2.svg" alt="Icon" class="test-img mb-3" />
          <h5 class="idea-text">Data-powered Application Development</h5>
        </div>
        <div class="define col-12 col-md-0 mb-4 d-flex flex-column align-items-center justify-content-start">
          <img src="./assets/images/fs3.svg" alt="Icon" class="pro-img mb-3" />
          <h5 class="prototype-text">Ecosystem-integrated App Integration</h5>
        </div>
        <div class="define col-12 col-md-0 mb-4 d-flex flex-column align-items-center justify-content-start">
          <img src="./assets/images/fs4.svg" alt="Icon" class="ide-img mb-3" />
          <h5 class="iterate-text">Responsible Deployment</h5>
        </div>
      </div>
    </div>
  </section>
  <section id="capabilities" class="banner py-5 ourcapabilities">
    <div class="container">
    <div class="row">
      <div class="col-12  text-start mb-4">
        <h1 class="cap">Our Capabilities</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 col-12 order-2 order-md-1 p-0">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" (click)="changeImage(1)">
                App Development
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="brand-text">Create custom apps with ease using Power Apps to meet unique business needs.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" (click)="changeImage(2)">
                Process Automation
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="brand-text">Automate repetitive tasks with Power Automate, reducing manual effort and minimizing errors.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" (click)="changeImage(3)">
                Data Visualization
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="brand-text">Use Power BI to build dynamic dashboards that provide actionable insights for better decision-making.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" (click)="changeImage(4)">
                Integration
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="brand-text">Seamlessly integrate with other Microsoft services and third-party applications to unify your tech stack.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-12 order-1 order-md-2 text-center text-md-start mb-4">
        <img [src]="currentImage" alt="Icon" class="image"/>
      </div>
    </div>
  </div>
  </section>
  <section id="impact" class="impact container">
    <div class="outcomes">
      <h1 class="outcome-head text-start mt-5">Most Desired Outcomes</h1>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
        <img src="./assets/images/1.svg" alt="Icon" class="img-fluid" />
      </div>
      <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
        <img src="./assets/images/2.svg" alt="Icon" class="img-fluid" />
      </div>
      <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
        <img src="./assets/images/3.svg" alt="Icon" class="img-fluid" />
      </div>
      <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
        <img src="./assets/images/4.svg" alt="Icon" class="img-fluid" />
      </div>
    </div>
    <div class="row mt-5">
      <h1 class="tech col-sm-12 col-md-4 col-xl-4 text-start text-md-left mt-5">We Work With Advanced Technology</h1>
       <div class="col-sm-12 col-md-8 col-xl-8"> 
        <div class="row row-cols-2 row-cols-md-5 justify-content-center">
          <div class="col text-center mt-5">
            <img src="assets/images/Power Apps.png" alt="Power Apps" class="img-fluid" ngbTooltip="Power Apps" placement="bottom">
          </div>
          <div class="col text-center mt-5">
            <img src="assets/images/Power Automation.png" alt="Power Automation" class="img-fluid" ngbTooltip="Power Automate" placement="bottom">
          </div>
          <div class="col text-center  mt-5">
            <img src="assets/images/Power Bi.png" alt="Power Bi" class="img-fluid" ngbTooltip="Power BI" placement="bottom">
          </div>
          <div class="col text-center  mt-5">
            <img src="assets/images/Power Pages.png" alt="Power Pages" class="img-fluid" ngbTooltip="Power Pages" placement="bottom">
          </div>
          <div class="col text-center  mt-5">
            <img src="assets/images/image 103.png" alt="Power Virtual Agents" class="img-fluid" ngbTooltip="Power Virtual Agents" placement="bottom">
          </div>
     
          <!-- Second Row of Images -->
          <div class="col text-center  mt-5">
            <img src="assets/images/Group 10410.png" alt="Azure Functions" class="img-fluid" ngbTooltip="Azure Functions" placement="bottom">
          </div>
          <div class="col text-center  mt-5">
            <img src="assets/images/Group 10411.png" alt="Azure API Management" class="img-fluid" ngbTooltip="Azure API Management" placement="bottom">
          </div>
          <div class="col text-center  mt-5">
            <img src="assets/images/clipart191043 1.png" alt="Azure Logic Apps" class="img-fluid" ngbTooltip="Azure Logic Apps" placement="bottom">
          </div>
          <div class="col text-center  mt-5">
            <img src="assets/images/image 104.png" alt="Microsoft Dynamics 365" class="img-fluid" ngbTooltip="Microsoft Dynamics 365" placement="bottom">
          </div>
          <div class="col text-center  mt-5">
            <img src="assets/images/Frame (3).png" alt="Microsoft Office 365" class="img-fluid" ngbTooltip="Microsoft Office 365" placement="bottom">
          </div>
        </div>     
       </div>

    </div>
  </section>  
<app-form [serviceType]="'Power Platform Development'"  [showBanner]="true"></app-form> 


