.hero-section {
     background: linear-gradient(90deg, #060e23 0%, rgba(17, 41, 106, 0) 124.34%),
      url("/assets/images/face-recognition-personal-identification-collage 1.png");
  }
  .read-more-button {
    color: rgba(53, 100, 223, 1);
}
.read-more-button::before {  
    background-color: rgba(53,100,223,1);  
}
.read-more-button:hover .button-text {
    color: white;
}
   
  @media (min-width:768px) and (max-width:1024px){
    .image{
      height:650px;
    }
  }
  @media (max-width:767.98px)
{
  .font{
    width:100%;
  }
}