<section class="hero-section d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-8 col-12">
          <div class="hero-content">
            <p class="text-uppercase mb-2">
              <a routerLink="/services" class="text-decoration-none">Services</a> /AI Application
            </p>
           
            <h1 class="mb-3">Empowering Decisions with Intelligent Automation</h1>
            <a routerLink="/contact" class="cta-button">
              <span class="text">Let's talk</span>
              <span class="arrow"><img src="assets/logo/arrow.png" alt="Arrow Icon"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
   <mat-toolbar class="nav-toolbar container-fluid d-flex justify-content-center">
  <nav class="nav-container">
        <a [routerLink]="['/ai']" fragment="overview" [ngClass]="{'active-link': activeLink === 'overview'}" (click)="setActiveLink('overview')">Overview</a>
        <a [routerLink]="['/ai']" fragment="ourapproach" [ngClass]="{'active-link': activeLink === 'ourapproach'}" (click)="setActiveLink('ourapproach')">Our Approach</a>
        <a [routerLink]="['/ai']" fragment="ourcapabilities" [ngClass]="{'active-link': activeLink === 'ourcapabilities'}" (click)="setActiveLink('ourcapabilities')">Our Capabilities</a>
        <a [routerLink]="['/ai']" fragment="impact" [ngClass]="{'active-link': activeLink === 'impact'}" (click)="setActiveLink('impact')">Impact</a>
  </nav>
  </mat-toolbar>
  <section id="overview" class="overview container">
    <div class="row">
      <h1 class="menu   col-md-3 col-sm-12 mb-4">Overview</h1>
      <p class="text1 col-md-9 col-sm-12">
        Maximize your business potential with Techxle’s cutting-edge AI application services. Our solutions are designed to help you harness the power of artificial intelligence to automate routine tasks, analyse large data sets, and provide actionable insights that drive business growth. We tailor AI solutions to fit your unique business needs, ensuring smarter operations, enhanced decision-making, and competitive advantage. Whether it’s AI-powered automation or advanced analytics, our solutions enable your organization to thrive in the age of digital transformation.
      </p>
    </div>
  </section>
  <section id="ourapproach" class="ourapproach container">
    <div class="row">
      <h1 class="menu  col-md-3 col-sm-12 mb-4">Approach</h1>
      <p class="text1 col-md-9 col-sm-12">
        We follow a comprehensive, client-centric approach that involves collaborating closely with your team to identify areas where AI can deliver the most impact. Our AI specialists design, develop, and implement solutions that are scalable, secure, and aligned with your strategic goals.
      </p>
    </div>
 
   
    <div class="row text-center">
      <div class="col-md-3"></div>
      <div class="test-3 col-sm-12 col-md-9 mb-4 d-flex flex-wrap justify-content-xs-between justify-content-sm-between  justify-content-center">
   
        <div class="define col-12 col-md-0 mb-4 d-flex flex-column align-items-center justify-content-center">
          <img src="assets/images/Frame 10409.svg" alt="Icon" class="def-img mb-3" />
          <h5 class="define-text"> Data-driven Analysis & Insights</h5>
        </div>
   
        <div class="define col-12 col-md-0 mb-4 d-flex flex-column align-items-center justify-content-center">
          <img src="assets/images/Group 10415.svg" alt="Icon" class="test-img mb-3" />
          <h5 class="idea-text">Custom AI Solutions Tailored to Industry</h5>
        </div>
   
   
        <div class="define col-12 col-md-0 mb-4 d-flex flex-column align-items-center justify-content-center">
          <img src="assets/images/sv1.svg" alt="Icon" class="pro-img mb-3" />
          <h5 class="prototype-text">Scalable AI Frameworks</h5>
        </div>
   
       
        <div class="define col-12 col-md-0 mb-4 d-flex flex-column align-items-center justify-content-center">
          <img src="assets/images/Group 10405.svg" alt="Icon" class="ide-img mb-3" />
          <h5 class="iterate-text">Continuous Improvement & Optimization</h5>
        </div>
   
      </div>
    </div>
  </section>
  <div class="banner">
  <section id="ourcapabilities" class="container py-5 ourcapabilities">
    <div class="row">
      <div class="col-12  text-start mb-4">
        <h1 class="cap">Our Capabilities</h1>
      </div>
    </div>
 
    <div class="row">
      <!-- Accordion Section -->
      <div class="col-md-7 col-12 order-2 order-md-1 p-0">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" (click)="changeImage(1)">
                AI Strategy & Consulting
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="brand-text">Develop a strategic roadmap for AI adoption, aligned with your business goals.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" (click)="changeImage(2)">
                Automation & Process Optimization
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="brand-text">Automate manual workflows and repetitive tasks to increase efficiency and reduce human error</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" (click)="changeImage(3)">
                AI Integration
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="brand-text">Seamlessly integrate AI capabilities into your existing systems, ensuring smooth and efficient adoption.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" (click)="changeImage(4)">
                Predictive Analytics
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="brand-text">Use AI to predict market trends, customer behaviour, and operational needs for proactive decision-making</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" (click)="changeImage(5)">
                Computer Vision
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="brand-text">Leverage computer vision technology for real-time image and video analysis, enhancing quality control and security</p>
              </div>
            </div>
          </div>
        </div>
      </div>
   
      <!-- Image Section -->
      <div class="col-md-5 col-12 order-1 order-md-2 text-center text-md-start mb-4">
        <img [src]="currentImage" alt="Icon" class="image"/>
      </div>
    </div>
  </section>
  </div>
  <section id="impact" class="impact container">
    <div class="outcomes">
      <h1 class="outcome-head text-start mt-5">Most Desired Outcomes</h1>
    </div>
 
    <!-- Image row -->
    <div class="row justify-content-center mt-5">
      <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
        <img src="assets/images/a1.svg" alt="Icon" class="img-fluid" />
      </div>
      <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
        <img src="assets/images/a2.svg" alt="Icon" class="img-fluid" />
      </div>
      <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
        <img src="assets/images/a3.svg" alt="Icon" class="img-fluid" />
      </div>
      <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
        <img src="assets/images/a4.svg" alt="Icon" class="img-fluid" />
      </div>
    </div>
    <div class="row mt-5">
      <h1 class="tech col-sm-12 col-md-4 col-xl-4 text-start text-md-left mt-5">We Work With Advanced Technology</h1>
 
      <div class="col-sm-12 col-md-8 col-xl-8">
        <div class="row justify-content-center mt-5">
          <!-- First row of tech icons -->
          <div class="col-6 col-sm-4 col-md-2 text-center">
            <img src="assets/images/pngwing.com (25) 1.png" alt="Power Apps" class="img-fluid" ngbTooltip=" Apache Spark" placement="bottom" >
          </div>
          <div class="col-6 col-sm-4 col-md-2 text-center">
            <img src="assets/images/numpy-1 1.png" alt="Power Automation" class="img-fluid" ngbTooltip=" NumPy" placement="bottom" />
          </div>
          <div class="col-6 col-sm-4 col-md-2 text-center">
            <img src="assets/images/image 109.png" alt="Power Bi" class="img-fluid" ngbTooltip=" Pandas" placement="bottom"/>
          </div>
          <div class="col-6 col-sm-4 col-md-2 text-center">
            <img src="assets/images/image 110.png" alt="Power Pages" class="img-fluid" ngbTooltip="SpaCy" placement="bottom"/>
          </div>
          <div class="col-6 col-sm-4 col-md-2 text-center">
            <img src="assets/images/vecteezy_openai-chatgpt-logo-icon_22227364 2.png" alt="Advanced Icon" class="img-fluid" ngbTooltip="OpenAI GPT" placement="bottom"/>
          </div>
        </div>
 
        <!-- Second row of tech icons -->
        <div class="row justify-content-center mt-5">
          <div class="col-6 col-sm-4 col-md-2 text-center">
            <img src="assets/images/28d4d195750b99bdbac908ef4b035a01 1.png" alt="Group 10410" class="img-fluid" ngbTooltip="AWS AI" placement="bottom"/>
          </div>
          <div class="col-6 col-sm-4 col-md-2 text-center">
            <img src="assets/images/756775c0e4483c74bc9ffbb730e3fab2 1.png" alt="Group 10411" class="img-fluid" ngbTooltip="Azure AI" placement="bottom"/>
          </div>
          <div class="col-6 col-sm-4 col-md-2 text-center">
            <img src="assets/images/google-ai-platform 1.png" alt="Clipart" class="img-fluid" ngbTooltip="Google Cloud AI" placement="bottom"/>
          </div>
          <div class="col-6 col-sm-4 col-md-2 text-center">
            <img src="assets/images/pngwing.com (23) 1.png" alt="Image 104" class="img-fluid" ngbTooltip="OpenCV" placement="bottom"/>
          </div>
          <div class="col-6 col-sm-4 col-md-2 text-center">
            <img src="assets/images/pngwing.com (24) 1.png" alt="Frame 3" class="img-fluid" ngbTooltip=" TensorFlow" placement="bottom"/>
          </div>
        </div>
      </div>
    </div>
 
  </section>
  <div class="banner1">
  <div class="container py-5">
    <div class="row align-items-start mt-5">
      <!-- Left Section: Get In Touch Header -->
      <div class="col-md-6 text-left">
        <h5 class="text-get">GET IN TOUCH</h5>
        <h1 class="font">Have a Project? We Would Love to Hear From You</h1>
      </div>
 
      <!-- Right Section: Form -->
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="name">NAME</label>
            <input type="text" class="form-control mt-2" id="name" name="name">
          </div>
          <div class="form-group mt-3">
            <label for="email">EMAIL ID</label>
            <input type="email" class="form-control mt-2" id="email"  placeholder="name@example.com" name="email">
          </div>
          <div class="form-group mt-3">
            <label for="service">SERVICE TYPE</label>
            <input type="text" class="form-control mt-2" id="service" name="service">
          </div>
          <div class="form-group mt-3">
            <label for="message">MESSAGE</label>
            <textarea class="form-control mt-2" id="message" name="message" rows="4"></textarea>
          </div>
          <button mat-button class="read-more-button mt-3">
            <span class="button-text">Send Enquiry</span>
            <span >
              <img src="assets/images/Icons (1).svg" alt="Techxle Logo" class="icon">
            </span>
            </button>
        </form>
      </div>
    </div>
  </div>
  </div>