.hero-section {
    background-size: cover !important;
    background-position: center;
    color: white;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #060e23 0%, rgba(17, 41, 106, 0) 124.34%),
      url("/assets/images/Mask group (7).png");
  }
   
  .hero-content {
    border-radius: 8px;
  }
   
  .hero-section h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 50.4px;
  }
   
  .hero-section p {
    font-size: 14px;
    font-weight: 700;
    line-height: 21.7px;
    letter-spacing: 0.1em;
    color: #ffffffcc;
  }
  .cta-button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding-bottom: 2px;
    width: 107px;
    height: 25px;
    font-size: 16px;
    font-weight: 800;
    line-height: 24.8px;
    letter-spacing: 0.02em;
    text-align: right;
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s ease;
  }
   
  .cta-button .text {
    margin-right: 10px;
    transition: all 0.3s ease;
  }
   
  .cta-button .arrow {
    display: inline-block;
    margin-top: 2px;
    transition: all 0.3s ease;
  }
   
  .cta-button:hover .text {
    order: 2;
  }
   
  .cta-button:hover .arrow {
    order: 1;
    margin-right: 10px;
    margin-left: 0;
  }
  .nav-toolbar {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    opacity: 1;
    background: var(--header-background-color);
   
    box-shadow: 0px 4px 20px 0px rgba(10, 24, 62, 0.1);
    z-index: 1000;
    transition: top 0.3s;
  }
  /*.nav-toolbar.fixed {
        position: fixed;
        top: 0;
        width:100%;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0px 4px 20px 0px rgba(10, 24, 62, 0.1);
        background: var(--header-background-color);
      }*/
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    opacity: 1;
  }
   
  .nav-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 155%;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: var(--link-text-color);
    opacity: 1;
    text-transform: uppercase;
    color: #0a183e;
  }
  .active-link {
    color: #3564df !important;
    position: relative;
  }
  .overview {
    margin-top: 80px;
  }
  .menu {
    font-size: 36px;
    font-weight: 600;
    line-height: 45.36px;
    letter-spacing: 0.01em;
    color: #0a183e;
  }
  .overview .text {
    font-size: 18px;
    font-weight: 400;
    line-height: 29.7px;
    letter-spacing: 0.01em;
    color: #545d78;
  }
  .ourapproach {
    margin-top: 60px;
  }
  .text1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 29.7px;
    letter-spacing: 0.01em;
    color: #545d78;
  }
  .approach {
    font-size: 36px;
    font-weight: 600;
    line-height: 45.36px;
    letter-spacing: 0.01em;
    color: #0a183e;
    white-space: nowrap;
  }
   
  .test-img {
    margin-top: 25px;
  }
  .pro-img {
    margin-top: 25px;
  }
  .def-img {
    margin-top: 25px;
  }
  .ide-img {
    margin-top: 25px;
  }
  .iterate-text {
    width: 175px;
    height: 130px;
    top: 1372px;
    left: 1035px;
    font-size: 14px;
    font-weight: 600;
    line-height: 23.1px;
    text-align: center;
    color: #060e23;
    padding: 30px 5px 5px 5px;
  }
   
  .prototype-text {
    padding: 30px 10px 0px 10px;
    width: 175px;
    height: 130px;
    top: 1372px;
    left: 1035px;
    font-size: 14px;
    font-weight: 600;
    line-height: 23.1px;
    text-align: center;
    color: #060e23;
  }
   
  .define {
    margin-top: 45px;
    width: 180px;
    height: 213px;
    border-radius: 4px;
    border: 1px solid #545d78;
    border-style: dashed;
  }
  .define-text,
  .idea-text {
    padding: 30px 5px 5px 5px;
    font-size: 14px;
    font-weight: 600;
    line-height: 23.1px;
    color: #060e23;
  }
   
  .discover-text {
    padding: 30px 5px 5px 5px;
    width: 175px;
    height: 130px;
    top: 1372px;
    left: 1035px;
    font-size: 14px;
    font-weight: 600;
    line-height: 23.1px;
    text-align: center;
    color: #060e23;
  }
  .ourcapabilities {
    margin-top: 120px;
  }
  .banner {
    background: #edf1fd;
  }
  .cap {
    position: relative;
    top: 45px;
    font-size: 36px;
    font-weight: 600;
    line-height: 45.36px;
    letter-spacing: 0.01em;
    color: #0a183e;
  }
  .content {
    font-size: 18px;
    font-weight: 400;
    line-height: 27.9px;
    letter-spacing: 0.02em;
    color: #545d78;
    margin-top: 65px;
  }
  .brand-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 29.7px;
    letter-spacing: 0.01em;
    color: #545d78;
  }
   
  .accordion-button:not(.collapsed) {
    background-color: transparent;
  }
  .accordion-item {
    background-color: transparent;
    border: none !important;
    border-bottom: 1px solid #060e2329 !important;
  }
  .accordion-button {
    background-color: transparent !important;
    box-shadow: none;
    font-size: 28px;
    font-weight: 600;
    line-height: 46.2px;
    letter-spacing: 0.01em;
  }
  .image {
    width: 100%;
  }
   
  .outcome-head {
    font-weight: 600;
    line-height: 30.24px;
    letter-spacing: 0.01em;
  }
  .tech {
    font-size: 32px;
    font-weight: 600;
  }
   
  .text-get {
    font-size: 18px;
    font-weight: 800;
    line-height: 22.68px;
    letter-spacing: 0.08em;
    color: #3564df;
  }
  .font {
    font-size: 38px;
    font-weight: 600;
    line-height: 62.7px;
    color: #060e23;
  }
  .form-control {
    background-color: transparent;
    border-bottom: 1px solid #0a183e3d;
  }
  .banner1 {
    background: #edf1fd;
    margin-top: 100px;
  }
  @media (min-width:768px) and (max-width:1024px){
    .image{
      height:650px;
    }
  }