<section class="hero-section d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-12">
        <div class="hero-content">
          <p class="text-uppercase mb-2">Services </p>
          <h1 class="mb-3">Business transformation through technology.</h1>
          <a routerLink="/contact" class="cta-button">
            <span class="text">Let's talk</span>
            <span class="arrow"><img src="assets/logo/arrow.png" alt="Arrow Icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container mt-5">
  <div class="row justify-content-start">
    <div class=" text-start">
      <h2 class="belief">Belief Drives Innovation</h2>
      <p class="lead">
        At Techvie, we go beyond helping businesses transform through technology. We empower them to make a meaningful difference—to their customers and the communities they serve. Our innovative solutions drive sustainable growth, and transformative change.
      </p>
    </div>
  </div>
</div>

<section class="services-section py-5">
  <div class="container">
    <h2 class=" explore mb-4">Explore Our Services</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5" *ngFor="let service of services">
        <div class="card h-100 text-center">
          <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <div class="service-icon">
              <img [src]="service.icon" alt="{{ service.title }} icon" >
            </div>
            <h5 class="card-title">{{ service.title }}</h5>
            <p class="card-text">{{ service.description }}</p>
            <button mat-button routerLink={{service.route}} class="read-more-button">
              <span class="button-text">Read More</span>
              <span >
                <img src="assets/images/Icons (1).svg" alt="Techxle Logo" class="icon">
              </span>  
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>