.hero-section { 
  background: linear-gradient(90deg, #060e23 0%, rgba(17, 41, 106, 0) 124.34%),
    url("/assets/images/servicebanner.png");
}
.belief {
  font-size: 36px;
  font-weight: 600;
  line-height: 45.36px;
  letter-spacing: 0.01em;
  height: 45px;
}
.lead {
  font-size: 18px;
  font-weight: 400;
  line-height: 29.7px;
  letter-spacing: 0.02em;
  color: #545d78;
}
.explore {
  font-size: 36px;
  font-weight: 600;
  line-height: 45.36px;
  letter-spacing: 0.01em;
  color: #0a183e;
}

.read-more-button {
  color: rgba(53, 100, 223, 1);
} 
.read-more-button::before {  
  background-color: rgba(53,100,223,1);   
} 
.read-more-button:hover .button-text {
  color: white;
}
.card-body {
  height: 410px;
  border-radius: 4px;
  gap:20px;
  border: 1px;
  border: 1px solid #060e231a;
}
.card-title {
  height: 29px;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0.02em;
}
.card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  letter-spacing: 0.02em;
  text-align: center;
 
}
.service-icon{
 
  height: 60px;
 
 
}
 
 
@media (max-width: 576px) {
  .lead {
    font-size: 0.9rem;
  }
 
  .belief ,.explore{
    font-size: 1.5rem;
  }
}