.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  #parallax-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-image 1s ease-in-out;
  }
  .bg1 {
    background: url('/assets/images/Image.png') no-repeat center center/cover;
  }
  .bg2 {
    background: url('/assets/images/Banner (1).png') no-repeat center center/cover;
  }
  .hero-content h1 {
    font-size: 54px;
    font-weight: 600;
    line-height: 75.6px;
    color: rgba(255, 255, 255, 1);
    width: 741px;
  }
  .hero-content h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 31px;
    color: rgba(255, 255, 255, 1);
  }
  .d-none {
    display: none !important;
  }
  .banner {
    margin-top:7px;
    background: linear-gradient(90deg, #11296a 0%, #2150d0 100%);
  }
  .callout {
    height: 180px;
  }
  .callout-text {
    color: #ffffff;
   
    font-size: 32px;
    font-weight: 600;
    line-height: 46.4px;
  }
  .read-more-button.bt {
    color:white;
  }
   
  .read-more-button.bt::before {
    background-color:white;
  }
   
  .read-more-button.bt:hover .button-text {
    color:  rgba(53,100,223,1);
  }
  .heading{
    font-size: 36px;
    font-weight: 600;
    line-height: 45.36px;
    letter-spacing: 0.01em;
    color:rgba(10, 24, 62, 1);
  }
  .service-image {
    height: 273px;
    border-radius:4px;  
  }
  .content-box {
    background-color: white;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    border-radius:4px;
    box-shadow: 0px 4px 30px 0px rgba(6, 14, 35, 0.1);
   
  }
  .content-box h5 {
    font-size: 20px;
    font-weight: 600;
    line-height:29px;
    color:rgba(10,24,62,1);
  }
  .card{
    height:auto !important;
  }
  .read-more {
    font-size: 0.9rem;
    color: #0056b3;
    font-weight: bold;
    transition: opacity 0.3s ease;
  }
  .read-more-button {
    color: rgba(53, 100, 223, 1);
  }
  .read-more-button::before {  
    background-color: rgba(53,100,223,1);  
  }
  .read-more-button:hover .button-text {
    color: white;
  }
  

  @media (max-width: 767.98px) {
    .callout-text {
      font-size: 25px;
      font-weight: 500;
      line-height: 46.4px;
    }
    .callout {
      height: 200px;
    }
    .read-more-button {
      font-size: 14px;   
    } 
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .read-more-button {
      font-size: 14px;
    }
  }
  @media (max-width:767.98px) {
    .hero-content h1 {
      font-size: 32px;
      width: 100%;
      line-height: 42px;
    }
    .hero-content h2 {
      font-size: 16px;
      font-weight: 600;
      line-height: 27px;
    }
    .cards-container .container{
        width:calc(100% - 20px);
        
    } 
    .card{
        width:280px !important;
        height:450px !important;
    }
    .hea h2{
        font-size:30px !important;
    }
  }
  @media (min-width:768px) and (max-width:991.98px) {
    .hero-content h1 {
      font-size: 50px;
      width: 100%;
    }
  }
  .header{
    background:linear-gradient(90deg, #11296A 0%, #2150D0 100%);
    z-index:1;
    position:relative;    
}
.hea{
    height:300px;
}
.hea h2{
font-size: 36px;
font-weight: 600;
line-height: 45.36px;
letter-spacing: 0.01em;
color: rgba(255, 255, 255, 1);
margin-top:-40px;
}
.navigation-buttons{
    white-space:nowrap;
    margin-top:-40px;
} 
.cards-container {
    position:relative;
    z-index:2;
    top:-108px;
} 
.card {  
    width: 386px;
    height: 410px;
    border-radius: 4px;
    border: 1px solid rgba(6, 14, 35, 0.1);    
}
.container{
    overflow-x:scroll;
    scroll-behavior:smooth;  
} 
.container::-webkit-scrollbar{
    display:none;
}
.title {    
    font-weight: 600;
    font-size: 20px;
    line-height: 145%;
    letter-spacing: 0.02em;
    color: #0A183E;    
}
.content {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: rgba(84, 93, 120, 1);
    margin-top:0;
}  
.read-more-button {
    color: rgba(53, 100, 223, 1);
} 
.read-more-button::before {  
    background-color: rgba(53,100,223,1);   
} 
.read-more-button:hover .button-text {
    color: white;
}
 


  