.hero-section
{
    background: linear-gradient(90deg, #060e23 0%, rgba(17, 41, 106, 0) 124.34%),
    url("/assets/images/servicebanner.png");
}

.belief-heading{
  font-size: 36px;
  font-weight: 600;
  line-height: 45.36px;
  letter-spacing: 0.01em;
  color: rgba(10, 24, 62, 1);
}
 .belief-paragraph{
   font-size: 20px;
   font-weight: 400;
   line-height: 29.7px;
   letter-spacing: 0.02em;
   color: rgba(84, 93, 120, 1);
 }
 
.heading{
  font-size: 36px;
  font-weight: 600;
  line-height: 45.36px;
  letter-spacing: 0.01em;
  color:rgba(10, 24, 62, 1);
}

.service-image {
  height: 273px;   
  border-radius:4px;   
}
.content-box {
  background-color: white;
  position: absolute;
  bottom: -30px; 
  left: 0;
  right: 0;
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  border-radius:4px;
  box-shadow: 0px 4px 30px 0px rgba(6, 14, 35, 0.1);

}
.content-box h5 {
  font-size: 20px;
  font-weight: 600;
  line-height:29px;
  color:rgba(10,24,62,1); 
}
.read-more {
  font-size: 0.9rem;
  color: #0056b3;
  font-weight: bold;
  transition: opacity 0.3s ease;
}




  