<div class="banner-container">
    <div class="banner-content">
      <h4>SOLUTIONS</h4>
      <h1>Business transformation through technology.</h1>
      <a routerLink="/contact" class="cta-button">
        <span class="text">Let's talk</span>
        <span class="arrow"><img src="assets/logo/arrow.png" alt="Arrow Icon"></span>
      </a>
    </div>
</div>
<div class="container-fluid p-0 belief-section">
  <h2 class="belief-heading">Belief Drives Innovation</h2>
  <p class="belief-paragraph">
      At Techxle, we go beyond helping businesses transform through technology. We empower them to make a meaningful difference-to their customers and the communities they serve. Our innovative solutions drive sustainable growth and transformative change.
  </p>
</div>
<div class="container-fluid p-0 service-container">
  <div class="heading">Related Solutions</div>
  <div class="service-box" *ngFor="let service of services"  >
    <div class="image-box" (click)="navigateTo(service.route)">
      <img [src]="service.image"  alt="{{service.title}}" />
      <div class="header-box">
        <span class="service-title">{{service.title}}</span>
        <span class="read-more">Read More</span>
      </div>
    </div>
  </div>
</div>








  
