.banner {
  margin-top:7px;
  background: linear-gradient(90deg, #11296a 0%, #2150d0 100%);
}
.callout {
  height: 180px;
}
.callout-text {
  color: #ffffff;
 
  font-size: 32px;
  font-weight: 600;
  line-height: 46.4px;
}
.read-more-button {
  color:white;
}
 
.read-more-button::before {
  background-color:white;
}
 
.read-more-button:hover .button-text {
  color:  rgba(53,100,223,1);
}
@media (max-width: 767.98px) {
  .callout-text {
    font-size: 25px;
    font-weight: 500;
    line-height: 46.4px;
  }
  .callout {
    height: 200px;
  }
  .read-more-button {
    font-size: 14px;   
  } 
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .read-more-button {
    font-size: 14px;
  }
}