<div class="banner-container">
    <div class="banner-content">
      <span class="heading">
      <h4 class="solution" (click)="navigateToSolutions()">SOLUTIONS/</h4>
      <h4 class="power">POWER PLATFORM SOLUTION</h4>
      </span>
      <h1>Business transformation through technology.</h1>
      <a routerLink="/contact" class="cta-button">
        <span class="text">Let's talk</span>
        <span class="arrow"><img src="assets/logo/arrow.png" alt="Arrow Icon"></span>
      </a>
    </div>
</div>
