<section class="hero-section d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-12">
        <div class="hero-content">
          <p class="text-uppercase text-decoration-none mb-2">
            about us
          </p>         
          <h1 class="mb-3">Business transformation through
            technology.</h1>
          <a routerLink="/contact" class="cta-button">
            <span class="text">Let's talk</span>
            <span class="arrow"><img src="./assets/logo/arrow.png" alt="Arrow Icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<app-mission></app-mission>
<section class="client py-5">
  <div class="container">
    <div class="d-flex justify-content-center pt-4 pb-5">
      <h2>Our Clients</h2>
    </div>
    <div class="row pb-4">
      <div class="col-6 col-md-3 mb-4" *ngFor="let client of clients">
        <div class="card client-card d-flex justify-content-center align-items-center">
          <img [src]="client.imgSrc" class="card-img">
        </div>
      </div>    
    </div>
  </div>
</section>

