<div ngbScrollSpy #spy="ngbScrollSpy" class="d-block overflow-auto vh-100 ">
<section class="hero-section d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-12">
        <div class="hero-content">
          <p class="text-uppercase mb-2">
            <a routerLink="/services" class="text-decoration-none">Services</a> /Full Stack Development
          </p>
         
          <h1 class="mb-3">Code Craftsmanship, End-to-End Excellence</h1>
          <a routerLink="/contact" class="cta-button">
            <span class="text">Let's talk</span>
            <span class="arrow"><img src="assets/logo/arrow.png" alt="Arrow Icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<mat-toolbar class="nav-toolbar sticky-top custom-sticky container-fluid d-flex justify-content-center">
  <nav class="nav-container">
        <a fragment="overview" class="sub-page-nav" [ngbScrollSpyItem]="[spy, 'overview']">Overview</a>
        <a fragment="ourapproach" class="sub-page-nav"  [ngbScrollSpyItem]="spy">Our Approach</a>
        <a fragment="ourcapabilities" class="sub-page-nav"  [ngbScrollSpyItem]="spy">Our Capabilities</a>
        <a fragment="impact" class="sub-page-nav"  [ngbScrollSpyItem]="spy">Impact</a>
  </nav>
</mat-toolbar>
<section id="overview" class="overview container">
  <div class="row">
    <div class=" col-md-3 col-sm-12 mb-4">
      <h1 ngbScrollSpyFragment="overview" class="menu">Overview</h1>
    </div>
   
    <p class="text1 col-md-9 col-sm-12">
      Transform your digital presence with Techxle’s comprehensive Full Stack Development services. Our expert team designs and implements both front-end and back-end solutions, ensuring seamless integration and optimal performance across your entire application. From responsive user interfaces to robust server-side logic, we ensure that your digital products meet modern standards and exceed user expectations.
    </p>
  </div>
</section>
<section id="ourapproach" class="ourapproach container">
  <div class="row">
    <h1 ngbScrollSpyFragment="ourapproach" class="menu  col-md-3 col-sm-12 mb-4">Approach</h1>
    <p class="text1 col-md-9 col-sm-12">
      We take a full-cycle approach to development, starting from requirements gathering to deployment and maintenance. Our full stack developers work closely with your team to ensure that the final product aligns with your business objectives and delivers a superior user experience
    </p>
  </div>
 
 
  <div class="row text-center">
    <div class="col-md-3"></div>
    <div class="test-3 col-sm-12 col-md-9 mb-4 d-flex flex-wrap justify-content-xs-between justify-content-sm-between  justify-content-center">
 
      <div class="define col-12 col-md-0 mb-4 d-flex flex-column align-items-center">
        <img src="assets/images/1 (1).svg" alt="Icon" class="def-img mb-3" />
        <h5 class="define-text"> Insight-based Frontend Design</h5>
      </div>
 
      <div class="define col-12 col-md-0 mb-4 d-flex flex-column align-items-center">
        <img src="assets/images/Frame 10414.svg" alt="Icon" class="test-img mb-3" />
        <h5 class="idea-text">Data-driven Backend Development</h5>
      </div>
 
 
      <div class="define col-12 col-md-0 mb-4 d-flex flex-column align-items-center">
        <img src="assets/images/Prototype.svg" alt="Icon" class="pro-img mb-3" />
        <h5 class="prototype-text"> API Ecosystem Integration</h5>
      </div>
 
     
      <div class="define col-12 col-md-0 mb-4 d-flex flex-column align-items-center">
        <img src="assets/images/Group 10405.svg" alt="Icon" class="ide-img mb-3" />
        <h5 class="iterate-text">Responsible Testing & Launch</h5>
      </div>
 
    </div>
  </div>
</section>
<div class="banner">
<section id="ourcapabilities" class="container py-5 ourcapabilities">
  <div class="row">
    <div class="col-12  text-start mb-4">
      <h1 ngbScrollSpyFragment="ourcapabilities" class="cap">Our Capabilities</h1>
      <p class="content">By focusing on employee development, we create a vibrant work environment filled with engaging activities.</p>
    </div>
  </div>
 
  <div class="row">
    <!-- Accordion Section -->
    <div class="col-md-7 col-12 order-2 order-md-1">
      <div class="accordion" id="accordionExample">
        <!-- App Development -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" (click)="changeImage(1)">
              Front-End Development
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="brand-text">Create intuitive and responsive interfaces using modern frameworks like React, Angular, and Vue.js.</p>
            </div>
          </div>
        </div>
 
        <!-- Process Automation -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" (click)="changeImage(2)">
              Back-End Development
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="brand-text">Build powerful back-end systems with technologies such as Node.js, Python, and Java.</p>
            </div>
          </div>
        </div>
 
        <!-- Data Visualization -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" (click)="changeImage(3)">
              Database Management
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="brand-text">Implement efficient database solutions using MySQL, MongoDB, and PostgreSQL.</p>
            </div>
          </div>
        </div>
 
        <!-- Integration -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" (click)="changeImage(4)">
              API Development
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="brand-text">Develop RESTful and GraphQL APIs for seamless data exchange between systems.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" (click)="changeImage(5)">
              Cloud Integration
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p class="brand-text">Leverage cloud services like AWS, Azure, and Google Cloud to enhance scalability and performance</p>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <!-- Image Section -->
    <div class="col-md-5 col-12 order-1 order-md-2 text-center text-md-start mb-4">
      <img [src]="currentImage" alt="Icon" class="image"/>
    </div>
  </div>
</section>
</div>
<section id="impact" class="impact container">
  <div class="outcomes">
    <h1 ngbScrollSpyFragment="impact" class="outcome-head text-start mt-5">Most Desired Outcomes</h1>
  </div>
 
  <!-- Image row -->
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
      <img src="assets/images/full.png" alt="Icon" class="img-fluid" />
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
      <img src="assets/images/2 (3).png" alt="Icon" class="img-fluid" />
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
      <img src="assets/images/3 (2).png" alt="Icon" class="img-fluid" />
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center mb-3">
      <img src="assets/images/4 (2).png" alt="Icon" class="img-fluid" />
    </div>
  </div>
  <div class="row mt-5">
    <h1 class="tech col-sm-12 col-md-4 col-xl-4 text-start text-md-left mt-5">We Work With Advanced Technology</h1>
 
    <div class="col-sm-12 col-md-8 col-xl-8">
      <div class="row justify-content-center mt-5">
        <!-- First row of tech icons -->
        <div class="col-6 col-sm-4 col-md-2 text-center">
          <img src="assets/images/ff197b9b65c901a2991c4646d5deb2b3.png" alt="Power Apps" class="img-fluid" ngbTooltip=" Angular" placement="bottom" >
        </div>
        <div class="col-6 col-sm-4 col-md-2 text-center">
          <img src="assets/images/pngwing.com (19).png" alt="Power Automation" class="img-fluid" ngbTooltip=" React" placement="bottom" />
        </div>
        <div class="col-6 col-sm-4 col-md-2 text-center">
          <img src="assets/images/pngwing.com (20).png" alt="Power Bi" class="img-fluid" ngbTooltip=" Vue.js" placement="bottom"/>
        </div>
        <div class="col-6 col-sm-4 col-md-2 text-center">
          <img src="assets/images/pngegg (4).png" alt="Power Pages" class="img-fluid" ngbTooltip="Java" placement="bottom"/>
        </div>
        <div class="col-6 col-sm-4 col-md-2 text-center">
          <img src="assets/images/3f1ae8d8796f90aff13898bf4337056c.png" alt="Advanced Icon" class="img-fluid" ngbTooltip=" Node.js" placement="bottom"/>
        </div>
      </div>
 
      <!-- Second row of tech icons -->
      <div class="row justify-content-center mt-5">
        <div class="col-6 col-sm-4 col-md-2 text-center">
          <img src="assets/images/Group 10410 (1).png" alt="Group 10410" class="img-fluid" ngbTooltip=" Python" placement="bottom"/>
        </div>
        <div class="col-6 col-sm-4 col-md-2 text-center">
          <img src="assets/images/pngwing.com (21).png" alt="Group 10411" class="img-fluid" ngbTooltip="PostgreSQL" placement="bottom"/>
        </div>
        <div class="col-6 col-sm-4 col-md-2 text-center">
          <img src="assets/images/clipart2754492.png" alt="Clipart" class="img-fluid" ngbTooltip=" MongoDB" placement="bottom"/>
        </div>
        <div class="col-6 col-sm-4 col-md-2 text-center">
          <img src="assets/images/pngwing.com (22) 1.png" alt="Image 104" class="img-fluid" ngbTooltip="GraphQL" placement="bottom"/>
        </div>
        <div class="col-6 col-sm-4 col-md-2 text-center">
          <img src="assets/images/db2310455dd76b2cd290f67635f6fa78 1.png" alt="Frame 3" class="img-fluid" ngbTooltip=" Google Cloud" placement="bottom"/>
        </div>
      </div>
    </div>
  </div>
 
</section>
<div class="banner1">
  <div class="container py-5">
    <div class="row align-items-start mt-5">

      <div class="col-md-6 text-left">
        <h5 class="text-get">GET IN TOUCH</h5>
        <h1 class="font">Have a Project? We Would Love to Hear From You</h1>
      </div>


      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="name">NAME</label>
            <input type="text" class="form-control mt-2" id="name" name="name">
          </div>
          <div class="form-group mt-3">
            <label for="email">EMAIL ID</label>
            <input type="email" class="form-control mt-2" id="email"  placeholder="name@example.com" name="email">
          </div>
          <div class="form-group mt-3">
            <label for="service">SERVICE TYPE</label>
            <input type="text" class="form-control mt-2" id="service" name="service">
          </div>
          <div class="form-group mt-3">
            <label for="message">MESSAGE</label>
            <textarea class="form-control mt-2" id="message" name="message" rows="4"></textarea>
          </div>
          <button mat-button class="read-more-button mt-3">
            <span class="button-text">Send Enquiry</span>
            <span >
              <img src="./assets/images/Icons (1).svg" alt="Techxle Logo" class="icon">
            </span>
            </button>
        </form>
      </div>
    </div>
  </div> 
  <app-footer></app-footer>
</div>
